@import "../../../../themes";

.dxc-modal-header {
  color: #fff;
  font-weight:400;
  background-color: royalblue;
  text-align:center;
  width:100%;
}

.dxc-modal-body {
  padding: 20px 10px;
}

.progress-bar{
  background-color:royalblue !important;
}

