<div [class.dxc-hidden]="(parent.activeCtn==null) || (id!=parent.activeCtn.id)"  class="container-fluid viewport-code">

  <div class="container-fluid viewport-class">
    <app-viewport-splitted [controller]="controller" [parent]="this" [flex]="true" [leftWidth]="activeWidth" [type]="'1:2'">
      <ng-container nav-left>
        <app-subnavbar [type]="'navbar'"  [parent]="this">
          <ng-container main>
            <app-subnavbar-btn [active]="activeLeft=='in'"  [icon]="gIcons['INFO']" (click)="showDetail('in')">Info</app-subnavbar-btn>
            <app-subnavbar-btn [active]="activeLeft=='rl'"  [icon]="gIcons['LIST']" (click)="showDetail('rl')">Rules</app-subnavbar-btn>
            <app-subnavbar-btn [active]="activeLeft=='rs'"  [icon]="gIcons['LIST']" (click)="showDetail('rs')">Report template</app-subnavbar-btn>
              <app-subnavbar-btn [active]="activeLeft=='or'"  [icon]="gIcons['LIST']" (click)="showDetail('or')">Orders</app-subnavbar-btn>
          </ng-container>
          <ng-container options>
            <app-subnavbar-btn [active]="activeLeft=='in'"  [icon]="gIcons['TAG']" (click)="updateTags()"></app-subnavbar-btn>
            <app-subnavbar-btn [active]="activeLeft=='in'"  [icon]="gIcons['PLUS']" (click)="newControl()"></app-subnavbar-btn>
          </ng-container>
        </app-subnavbar>
      </ng-container>
      <ng-container body-left>
        <div class="container-fluid dxc-model-info" style="overflow:auto;position:relative;height:100%" [class.dxc-hidden]="(activeLeft==null) || (activeLeft!='in')">
          <div class="row">
            <div class="col-8">
              <h3 class="dxc-text-std p-3">{{ data.name }}</h3>
              <div class="row mt-2 mb-2 ps-2">
                <div class="col-4 model-details">
                  <ng-container *ngFor="let meta of data.metadata">
                    <span class="badge rounded-pill badge-sm text-bg-info dxc-text-std ml-2">{{ meta.key }}: {{ meta.value  }}</span>
                  </ng-container>
                </div>
              </div>

              <p class="dxc-text-std description">
                {{ data.description }}
              </p>

              <h4>Resources</h4>
              <ul>
                <li *ngFor="let lnk of data.links">
                  <a [href]="lnk" target="_blank">{{ lnk }}<dxc-icon [model]="gIcons['ATTACH_HOOK']" class="ml-2"></dxc-icon></a>
                </li>
              </ul>
            </div>
            <div class="col-4 p-3">

                <dxc-audit-model-card [model]="data"></dxc-audit-model-card>
              <!--<div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">

                      <h5 class="card-title">Author</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">REVERSENSE</h6>
                      <p class="card-text">
                        {{ data.modified | date: 'MM/dd/yyyy' }}
                      </p>
                      <p class="card-text">DxPrivacy built'in referential.</p>
                      <a href="#" class="card-link"><dxc-icon [model]="gIcons['MSG']" class="mr-2 dxc-text-darker"></dxc-icon>&nbsp;Contact</a>
                      <a href="#" class="card-link"><dxc-icon [model]="gIcons['HELPER']" class="mr-2 dxc-text-darker"></dxc-icon>&nbsp;Help</a>
                </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">An item</li>
                      <li class="list-group-item">A second item</li>
                      <li class="list-group-item">A third item</li>
                  </ul>
                  <div class="card-body">
                      <a href="#" class="card-link">Website</a>
                      <a href="#" class="card-link">Download</a>
                  </div>
              </div>-->
            </div>
          </div>

            <ng-container *ngIf="orders">
                <ng-container  *ngFor="let order of orders">

                    <div *ngIf="order!=null" class="row g-0 p-2 dxc-text-std">
                        <div class="col-12 dxc-text-clear75 dxc-control dxc-entry default">
                            <div class="row g-0">
                                <div class="col-2 text-center" >
                                </div>
                                <div class="col-10 dxc-text-std" >
                                    {{  order.$model }}
                                </div>
                                <div class="col-1 dxc-text-std" >
                                    {{ order.getState() }}
                                </div>
                                <div class="col-1 text-center" >·
                                    <dxc-icon [model]="gIcons['DOWN']"></dxc-icon>
                                </div>
                            </div>
                        </div>
                    </div>

                </ng-container>
            </ng-container>

        </div>

        <div class="container-fluid p-0" [class.dxc-hidden]="(activeLeft==null) || (activeLeft!='rl')">
          <ng-container *ngIf="data">
            <ng-container *ngIf="loadingLeft==false; else loadingLeftCtrl">
              <ng-container  *ngFor="let i of data.controls">

                <ng-container *ngIf="i.hasStyle(); else noStyles">
                    <div class="row g-0 p-2 dxc-text-std dxc-row-table" (click)="showControl(i,$event)">
                      <div class="col-12 p-2 dxc-control dxc-entry"  [ngStyle]="{ 'backgroundColor':i.getStyle().bgColor,'color':i.getStyle().color, 'fontWeight':i.getStyle().fontWeight }"  >
                        {{ i.id }}
                      </div>
                    </div>

                  <ng-container *ngFor="let o of i.children">
                    <div class="row g-0 p-2 dxc-control dxc-text-std dxc-row-table" (click)="showControl(o,$event)">
                      <div class="col-12 p-2 dxc-control dxc-entry"  [ngStyle]="{ 'backgroundColor':o.getStyle().bgColor,'color':o.getStyle().color, 'fontWeight':o.getStyle().fontWeight }"  >
                        {{ o.id }}
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-template #noStyles>

                    <div class="row g-0 p-2 dxc-text-std"  (click)="showControl(i,$event)">
                        <div class="col-12 dxc-text-clear75 dxc-control dxc-entry default" [ngClass]="{ selected: isSelectedCtrl(i)}">
                            <div class="row g-0">
                                <div class="col-2 text-center" >
                                    <span *ngIf="i.country" class="fi" [ngClass]="'fi-'+i.country.code"></span>
                                </div>
                                <div class="col-10 dxc-text-std" >
                                    {{ i.name }}
                                    <br><dxc-meta [label]="i.id" [css]="'dxc-text-clear75 dxc-ref'"></dxc-meta>
                                </div>
                            </div>
                        </div>
                    </div>

                  <!--<div class="row g-0 dxc-text-std dxc-row-table dxc-rules-topCat" (click)="showControl(i,$event)">
                    <div class="col-2 text-center">
                      <input type="checkbox" [ngModel]="checkedCtrls" [value]="i.id"/>
                      <span *ngIf="i.country" class="fi" [ngClass]="'fi-'+i.country.code"></span>
                    </div>
                    <div class="col-7 pl-2">{{ i.name }}</div>
                    <div class="col-3 text-center">
                      <ng-container *ngFor="let cat of i.category">
                        <dxc-meta [label]="cat" [css]="'text-bg-info dxc-meta'"></dxc-meta>
                      </ng-container>
                    </div>
                  </div>-->
                </ng-template>


                <!--

                <ng-container  *ngFor="let f of i.assessments">
                  <div class="row g-0 dxc-text-clear75 dxc-row-table dxc-rules-ctrl1">
                    <div class="col-2">{{ i.id }}</div>
                    <div class="col-8">{{ i.name }}</div>
                    <div class="col-2">
                      <span class="badge rounded-pill  badge-sm text-bg-info">{{ f.rules.length }}</span>
                    </div>
                  </div>
                </ng-container>
                <ng-container  *ngFor="let f of i.children">
                  <div class="row g-0 dxc-text-std dxc-row-table dxc-rules-ctrl1">
                    <div class="col-12 pl-4"><i>{{ f.id }}</i></div>
                  </div>
                  <ng-container  *ngFor="let y of f.assessments">
                    <div class="row g-0  dxc-row-table dxc-rules-ctrl2 m-0 p-0" (click)="showControlAssessm(y)">
                      <div class="col-1 text-center" >
                        <dxc-icon [model]="gIcons['INFO']"></dxc-icon>
                      </div>
                      <div class="col-9 pl-2" >{{ y.name }}</div>
                      <div class="col-2 text-center" [ngStyle]="{'background-color': getScoreBg(y), 'color': getScoreColor(y)}">{{ y.rules.length }}</div>
                    </div>
                  </ng-container>

                </ng-container>
                  -->

                <!--
                <div class="row g-0 dxc-text-std dxc-row-table">
                  <div class="col-1">
                    <dxc-icon [model]="gIcons['INFO']"></dxc-icon>
                  </div>
                  <div class="col-11 p-0">
                    <ng-container  *ngFor="let y of f.assessments">
                      <div class="row g-0  dxc-row-table dxc-rules-ctrl m-0 p-0">
                        <div class="col-10 pl-2" >{{ y.name }}</div>
                        <div class="col-2 text-center text-secondary" [ngStyle]="{}" style="background-color:#FF7700;color:#fff;">{{ y.rules.length }}</div>
                      </div>
                    </ng-container>
                  </div>
                </div>-->

              </ng-container>
            </ng-container>
            <ng-template #loadingLeftCtrl>
                <div class="row">
                  <div class="col-12 text-center pt-5 pb-5">
                    <dxc-icon [model]="gIcons['SPINNER']" class="mr-2"></dxc-icon>Loading rules ...
                  </div>
                </div>
            </ng-template>
          </ng-container>
        </div>



        <div class="container-fluid p-0 report-tpl" [class.dxc-hidden]="(activeLeft==null) || (activeLeft!='rs')">
          <ng-container *ngIf="data">
              <ng-container  *ngFor="let i of data.controls; let numSection=index;">
                  <dxe-audit-control-view [ctrl]="i" [offset]="numSection+1" [showID]="false" [controller]="controller" [level]="0"></dxe-audit-control-view>
              </ng-container>
          </ng-container>
        </div>


          <div class="container-fluid p-0" [class.dxc-hidden]="(activeLeft==null) || (activeLeft!='or')">

              <ng-container *ngIf="orders">
                  <ng-container  *ngFor="let order of orders">

                      <div *ngIf="order!=null" class="row g-0 p-2 dxc-text-std">
                          <div class="col-12 dxc-text-clear75 dxc-control dxc-entry default">
                              <div class="row g-0">
                                  <div class="col-2 text-center" >
                                  </div>
                                  <div class="col-10 dxc-text-std" >
                                      {{  order.$model }}
                                  </div>
                                  <div class="col-1 dxc-text-std" >
                                      {{ order.getState() }}
                                  </div>
                                  <div class="col-1 text-center" >·
                                      <dxc-icon [model]="gIcons['DOWN']"></dxc-icon>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </ng-container>
              </ng-container>
          </div>

      </ng-container>
      <ng-container body-right>

        <div class="container-fluid p-2 " [class.dxc-hidden]="(activeLeft==null) || (activeLeft!='rl')">
          <ng-container *ngIf="selectedData && (selectedType=='cass')">
            <h4 class=" dxc-text-std">{{ selectedData.name }}</h4>
              <!-- add meta -->
            <i>( <span class="dxc-text-yellow">#{{selectedData.id}}</span> )</i>


            <p class=" dxc-text-std">{{ selectedData.description }}</p>

            <div class="row g-0 dxc-text-std dxc-text-100">
              <div class="col-11 pl-1"><b>Rules</b></div>
            </div>
            <div class="row g-0">
              <div class="col-8 pl-1 pt-1">
                <div class="dxc-list dxc-rules-list">
                  <ng-container  *ngFor="let r of selectedData.rules">
                    <dxc-audit-rule [styleRow]="{ paddingLeft:'2em' }" [rule]="r" (onDryRunSuccess)="execResults=$event"></dxc-audit-rule>
                  </ng-container>
                </div>
              </div>
            </div>

            <!--
            <div class="row g-0 dxc-text-std dxc-text-100 pt-1">
              <div class="col-11 pl-1"><b>Results</b></div>
            </div>
            <div class="row g-0">
              <div class="col-12 pl-1 pt-1">
                <div class="dxc-list dxc-rules-list">
                  <dxc-search-result-list *ngIf="searchCtrl.app" [results]="execResults" [controller]="searchCtrl" [mainController]="searchCtrl.app"></dxc-search-result-list>
                </div>
              </div>
            </div>
            -->
          </ng-container>

          <ng-container *ngIf="selectedData && (selectedType=='control')">
            <div class="row">
              <div class="dxc-text-std" [ngClass]="(selectedData!=null && selectedData.country==null)? 'col-8' : 'col-12' ">
                <h4>{{ selectedData.name }}&nbsp;
                    <span *ngIf="selectedData?.country" class="fi" [ngClass]="'fi-'+selectedData?.country.code"></span></h4>
                <i>( <span class="dxc-text-yellow">#{{selectedData.id}}</span> )</i>
                <div>
                  <ng-container *ngFor="let cat of selectedData.metadata; let i=index">
                    <dxc-meta *ngIf="cat.value != null" [label]="cat.value" [css]="'text-bg-info dxc-meta ml-2'"></dxc-meta>
                  </ng-container>
                </div>

                <div [innerHTML]="selectedData.description"></div>

                <h5 class="m-1">Ressources</h5>
                  <ng-container *ngIf="selectedData.links != null && selectedData.links.length>0;else noRes">
                      <ng-container *ngFor="let lk of selectedData.links">
                          <a [href]="lk">{{ lk }}</a>
                      </ng-container>
                  </ng-container>
                  <ng-template #noRes>
                      <span> No resource</span>
                  </ng-template>

              </div>
            </div>


            <div class="row g-0">
              <div class="col-12 pl-1 pt-1">
                    <dxc-box>
                      <ng-container nav-main>
                        <app-subnavbar [type]="'navbar'"  [parent]="this" [opts]="true">
                          <ng-container main>
                            <app-subnavbar-label [label]="'Rules'"></app-subnavbar-label>
                          </ng-container>
                          <ng-container options>
                            <dxc-helper-btn [docid]="'model.rules.list'"></dxc-helper-btn>
                            <app-subnavbar-btn [active]="selectedData.rules==null"  [icon]="gIcons['PLUS']" (click)="newControl(selectedData)">New control</app-subnavbar-btn>
                            <!-- <app-subnavbar-btn [active]="selectedData.children==null"  [icon]="gIcons['PLUS']" (click)="newRule(selectedData)">New rules</app-subnavbar-btn> -->
                          </ng-container>
                        </app-subnavbar>
                      </ng-container>
                      <ng-container body>
                        <ng-container  *ngFor="let a of selectedData.children">
                            <dxc-audit-control [control]="a" [style]="{'backgroundColor':selectedData.getStyle().bgColor}" [addRuleOpt]="true" (onDryRunSuccess)="execResults=$event"></dxc-audit-control>
                        </ng-container>
                        <ng-container  *ngFor="let a of selectedData.assessments">
                            <dxc-audit-assessment [assessement]="a" (onDryRunSuccess)="execResults=$event"></dxc-audit-assessment>
                        </ng-container>
                      </ng-container>
                    </dxc-box>

                </div>
            </div>

          </ng-container>
        </div>

      </ng-container>
    </app-viewport-splitted>

  </div>

</div>