<div [class.dxc-hidden]="isActive()" [class.dxc-ztop]="isOnZTop()" class="dxc-modal draggable" [ngStyle]="{'display':'none'}" #modalComp (mousedown)="onMouseDown($event)">
  <div *ngIf="!headless" class="container-fluid row head" #head>
    <!--<div *ngIf="closable" class="col-lg-8 title"><ng-content select="[title]"></ng-content></div>-->
    <div class="col-lg-12 title">
      <ng-content select="[head]"></ng-content>
      <div *ngIf="closable" class="head-opts" style="position: absolute; right:0px; top:0px;">
        <ng-content select="[options]"></ng-content>
        <span class="btn-close" (click)="hide('close')"><fa-icon [icon]="['fas','xmark']"></fa-icon></span>
      </div>
    </div>
  </div>
  <div class="container-fluid body" #body>
    <ng-content select="[body]"></ng-content>
  </div>
  <div class="container-fluid footer" #footer>
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
