<div [class.dxc-hidden]="!parent.isTabActive(this)" class="term-hook" #termHook>
  <!--<app-subnavbar [type]="'navtab'" [navtab]="this.view.nav" [items]="views" [parent]="this" #termHookNav>
    <ng-container leftTab>
      <app-subnavbar-tab [active]="true" [label]="'Index'" [icon]="gIcons['LIST']" [closable]="false">Output</app-subnavbar-tab>
    </ng-container>
    <ng-container rightTab>
      <app-subnavbar-tab [active]="true" [icon]="gIcons['PLUS']" [closable]="false"></app-subnavbar-tab>
    </ng-container>
  </app-subnavbar>-->

  <app-subnavbar [tab]="true" [navtab]="this.view.navtab" [items]="_sessions" [parent]="this"
                 (closeTab)="onClose($event)" (selectTab)="switchSession($event)" #termHookNav>
    <span class="nav-label pt-2" navLabel>Sessions :</span>
    <ng-container rightTab>
      <app-subnavbar-tab [icon]="gIcons['PLAY']" [closable]="false" (click)="newSession()"></app-subnavbar-tab>
      <app-subnavbar-tab [icon]="gIcons['DOWNLOAD']" [closable]="false" (click)="save()"></app-subnavbar-tab>
    </ng-container>
  </app-subnavbar>

        <app-subnavbar *ngIf="_current" [bar]="true" [parent]="this">
            <span class="nav-label pt-2" navLabel>Filter :</span>
            <ng-container main>
                <ng-container *ngFor="let f of getFilters(_current) | keyvalue">
                    <ng-container *ngIf="f.key=='msg'">
                        <app-subnavbar-btn *ngFor="let o of f.value.opts" [class]="'badge rounded-pill text-bg-danger'"  (click)="dropFilter(_current,o,'msg')">{{ o.name }}</app-subnavbar-btn>
                    </ng-container>
                    <ng-container *ngIf="f.key=='hk'">
                        <app-subnavbar-btn *ngFor="let o of f.value.opts" [class]="'badge rounded-pill text-bg-danger'" (click)="dropFilter(_current,o,'hk')">{{ o.name }}</app-subnavbar-btn>
                    </ng-container>
                    <ng-container *ngIf="f.key=='ev'">
                        <app-subnavbar-btn *ngFor="let o of f.value.opts" [class]="'badge rounded-pill text-bg-danger'" (click)="dropFilter(_current,o,'ev')">{{ o.name }}</app-subnavbar-btn>
                    </ng-container>
                </ng-container>
                <app-subnavbar-menu [icon]="gIcons['PLUS']" [label]="'add filter'">
                    <ng-container entries>
                        <app-subnavbar-btn (click)="filter(_current,'hk')">Hook</app-subnavbar-btn>
                        <app-subnavbar-btn (click)="filter(_current,'ev')">Event</app-subnavbar-btn>
                        <app-subnavbar-btn (click)="filter(_current,'msg')">Message</app-subnavbar-btn>
                    </ng-container>
                </app-subnavbar-menu>
                <app-subnavbar-input [placeholder]="'Pattern...'" [width]="'400px'" (enter)="addFilter(_current,$event)"></app-subnavbar-input>
            </ng-container>
        </app-subnavbar>


    <ng-container *ngIf="_current">
  <div #termHookCtn style="overflow-y:auto;">
      <div *ngFor="let msg of getMessages(); let index = index;" class="row no-gutters hmsg" (click)="hookMsgFocus(index)" [ngClass]="(_current_selected==index ? 'selected' : '')">
        <div class="col-lg-1 col-msg">
          <ng-container *ngIf="msg.rt_type" [ngSwitch]="msg.rt_type" >
            <ng-container *ngSwitchCase="'h'">
              <dxc-meta [label]="'HOOK'" [ngClass]="'dxc-yellow dxc-text-black'"></dxc-meta>
            </ng-container>
            <ng-container *ngSwitchCase="'he'">
              <dxc-meta [label]="'ERROR'" [ngClass]="'dxc-salmon'"></dxc-meta>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <dxc-meta [label]="'HOOK'" [ngClass]="'dxc-yellow dxc-text-black'"></dxc-meta>
            </ng-container>
          </ng-container>

          <dxc-meta *ngIf="!msg.rt_type" [label]="'HOOK'" [ngClass]="'dxc-yellow dxc-text-black'"></dxc-meta>


        </div>
        <div class="col-lg-1 col-msg">
          <dxc-meta *ngIf="msg.data.when==-1" [label]="'before'" [ngClass]="'text-info'"></dxc-meta>
          <dxc-meta *ngIf="msg.data.when==1" [label]="'after'" [ngClass]="'dxc-azur  dxc-text-black'"></dxc-meta>
          <dxc-meta *ngIf="msg.data.when==0" [label]="'replace'" [ngClass]="'dxc-pink'"></dxc-meta>
          <!--<ng-container *ngFor="let t of msg.tags">
            <dxc-meta [label]="t.text" [style]="{'backgroundColor':t.style,'font-size':'12px'}"></dxc-meta>
          </ng-container>-->
          <!--<span *ngFor="let t of msg.tags" class="badge rounded-pill " [ngStyle]="{'backgroundColor':t.style}">{{ t.text }}</span>-->
        </div>
        <div class="col-lg-3 col-msg">
          <ng-container *ngFor="let n of msg.node">
              <dxc-node-token [ref]="n" [cache]="true"></dxc-node-token>
            <!--<ng-container *ngIf="n.__==NODE_TYPE.METHOD">

              <dxc-icon [model]="cIcons['CLASS']"></dxc-icon>&nbsp;<span (click)="open(n, NODE_TYPE.CLASS, 'enclosingClass')" class="actionable">{{ getProperty(n,'enclosingClass') }}</span>
              .
              <dxc-icon [model]="cIcons['METH']"></dxc-icon>&nbsp;<span (click)="open(n,NODE_TYPE.METHOD)" class="actionable">{{ getProperty(n,'name') }}</span>(...)
            </ng-container>-->
          </ng-container>
        </div>
        <div class="col-lg-1 col-msg">
          <ng-container *ngIf="msg.interceptors">
            <code class="dxc-text-yellow" *ngFor="let t of msg.interceptors">{{ t }}</code><br>
          </ng-container>
        </div>
        <div class="col-lg-6 ppt">
          <ng-container *ngIf="msg.isHookMessage()">
            <ng-container *ngFor="let d of msg.getHookMessageData() | keyvalue">

              <!--<ng-container *ngIf="msg.isRootDetectionData(d.value)">
                <dxc-icon [model]="gIcons['WARNING']"></dxc-icon>&nbsp;
                <span class="text-warning">Root detection</span>
              </ng-container>-->

              <ng-container [ngSwitch]="getProperty(d.value,'__')">
                <ng-container *ngSwitchCase="NODE_TYPE.CLASS">
                  <dxc-icon [model]="cIcons['CLASS']"></dxc-icon>&nbsp;<span (click)="open(d.value,NODE_TYPE.CLASS)" class="actionable">{{ getProperty(d.value,'fqcn') }}</span>
                </ng-container>
                <ng-container *ngSwitchCase="NODE_TYPE.METHOD">
                  <dxc-icon [model]="cIcons['METH']"></dxc-icon>&nbsp;
                  <span (click)="open(d,NODE_TYPE.METHOD)" class="actionable">{{ d.value!=null ? d.value : "null" }}</span>
                </ng-container>
                <ng-container *ngSwitchCase="NODE_TYPE.FILE">
                  <dxc-icon [model]="cIcons['FILE']"></dxc-icon>&nbsp;<span (click)="open(d,NODE_TYPE.FILE)" class="actionable">{{ d.value.path }}</span>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <div *ngIf="d.key[0]!='_'">
                    <span>{{ d.key }}</span>&nbsp;:&nbsp;<span>{{ d.value!=null ? d.value : "null" }}</span>
                  </div>
                  <div *ngIf="d.key=='__class__'">
                    <dxc-icon [model]="cIcons['CLASS']"></dxc-icon>&nbsp;<span (click)="open(d,NODE_TYPE.CLASS)" class="actionable">{{ d.value }}</span>
                  </div>
                  <div *ngIf="d.key=='__meth__'">
                    <dxc-icon [model]="cIcons['METH']"></dxc-icon>&nbsp;<span (click)="open(d,NODE_TYPE.METHOD)" class="actionable">{{ d.value }}</span>
                  </div>
                  <div *ngIf="d.key=='__msg__'">
                    {{ d.value }}
                  </div>
                  <div *ngIf="d.key=='__trace__'">
                    <span (click)="openTrace(msg,d.value)" class="actionable"><dxc-icon [model]="cIcons['TRACE']"></dxc-icon>Trace</span>
                  </div>
                    <div *ngIf="d.key=='str'">
                        <dxc-preview [length]="120" [data]="d.value"></dxc-preview>
                    </div>
                </ng-container>

              </ng-container>

            </ng-container>
          </ng-container>

        </div>
      </div>
  </div>
    </ng-container>
</div>


