.home-navbar .navbar-brand {
  font-family: Recursive-light;
  margin-left:1em;
  color:#fff;
  font-size:2em;
}

.home-navbar .nav-yellow {
  background: gold;
  border-radius:1.2em;
  padding: 0em 1em;
}

.home-navbar .nav-item {
  padding: 0em 0.5em;
  margin-bottom:0px
}

.home-navbar .nav-link {
  color:white;
  opacity: 1;
  padding-bottom:0px;
  padding-top:1px
}


.navbar-light .navbar-nav .nav-link {
  /*font-family: Recursive-light;*/
  font-family: -apple-system;
  color:white;
  opacity: 1;
  border-bottom: 5px solid rgba(0,0,0,0);
  user-select: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  /*font-family: Recursive-light;*/
  font-family: -apple-system;
  color:white;
  opacity: 1;
  border-bottom: 5px solid white;
}

.home-navbar .nav-link.active {
  color:#fff;
  background-color: #404c52;
}


.home-navbar div.dropdown-menu {
  background-color: #404c52;
  color: #fff;
  box-shadow: 0px 2px 3px #212121;
  border-radius: 0px 0px 2px 2px;
  border: 0px solid #888;
  border-top: none;
  margin-top:0px;
}


.home-navbar div.dropdown-menu.show {
  margin-top:0px;
}

.home-navbar a.dropdown-item {
  /*font-family: Recursive-light;*/
  font-family: -apple-system;
  font-size: 0.9em;
  color:#fff;
  padding-top: 0px;
  padding-bottom: 0px;
}


.home-navbar a.dropdown-item:hover {
  color:#fff;
  background-color: #2d59f8;
}
