<div class="row m-0 dxc-appmenu-vpnav app-menu" #snavRef>
    <div class="col-lg-10 text-left nav">
        <ng-container *ngFor="let menu of entries">
            <div ngbDropdown class="d-inline-block nav-menu">
                <button class="btn dxc-text-clear100" [id]="'dropdownBasic'+menu.offset" ngbDropdownToggle>
                    <dxc-icon *ngIf="menu.icon!=null" [model]="menu.icon"></dxc-icon>
                    {{ menu.label  }}
                </button>
                <div ngbDropdownMenu class="nav-menu-dropdown" aria-labelledby="dropdownBasic1" >
                    <ng-container *ngFor="let item of menu.submenu; let index=index">
                         <app-menu-item (onCheck)="onButtonCheck($event)" [item]="item" [offset]="index"></app-menu-item>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="col-lg-2 text-right nav-options">
        <ng-content select="[opts]"></ng-content>
    </div>
</div>
