<div [class.dxc-hidden]="(parent.activeCtn==null) || (id!=parent.activeCtn.id)"  class="container-fluid viewport-code">

  <ng-container *ngIf="data._t=='m'">
    <app-viewport-code-meth [data]="data" [width]="size.width" [height]="size.height" [parent]="this" [controller]="controller"></app-viewport-code-meth>
  </ng-container>

  <ng-container *ngIf="data._t=='c'">
    <app-viewport-code-class [data]="data" [width]="size.width" [height]="size.height" [parent]="this" [controller]="controller"></app-viewport-code-class>
  </ng-container>

  <ng-container *ngIf="data._t=='p'">
    <app-viewport-code-package [data]="data" [width]="size.width" [height]="size.height" [parent]="this" [controller]="controller"></app-viewport-code-package>
  </ng-container>

  <ng-container *ngIf="data._t=='f'">
    <app-viewport-code-field [data]="data" [width]="size.width" [height]="size.height"  [parent]="this" [controller]="controller"></app-viewport-code-field>
  </ng-container>
</div>
