<div class="container-fluid viewport-class">
  <app-subnavbar [type]="'navbar'" [parent]="this">
    <ng-container main>
      <app-subnavbar-btn [icon]="gIcons['LIST']">Contents</app-subnavbar-btn>
      <app-subnavbar-btn [icon]="gIcons['START_OBSERVE']">Observe</app-subnavbar-btn>
      <app-subnavbar-btn [icon]="gIcons['LOCK']">Permissions</app-subnavbar-btn>
      <app-subnavbar-btn [icon]="icons['XREF']">XRef</app-subnavbar-btn>
    </ng-container>
  </app-subnavbar>

  <ng-container>
    Mettre le treemap ici
  </ng-container>
</div>
