<div class="container-fluid" class="pl-0 pr-0" [ngStyle]="{ 'height': height+'px', 'minHeight': height+'px' }">
  <div #metadata style="border-bottom:1px solid #777">
    <div class="row no-gutters" style="margin:0px; padding:0px; background-color: #000000">
      <div class="col-lg-12">

        <ng-container *ngFor="let t of tags">
          <dxc-tag-badge [tag]="t" [editable]="true" [style]="{ 'backgroundColor':'#facd13', 'color':'black' }"></dxc-tag-badge>
        </ng-container>
      </div>
    </div>
    <div class="row no-gutters" style="margin:0px; padding:0px">
      <div class="col-lg-12 pl-2 pt-1 pb-1">

        <ng-container *ngFor="let mod of data.modifiers | keyvalue">
            <span *ngIf="mod.value!=null" class="badge dxc-meta" [ngClass]="getModifiersStyles(mod.key)">{{ mod.key }}</span>
        </ng-container>
       <!-- <span *ngIf="data.modifiers.static" class="badge dxc-meta ">static</span>
        <span *ngIf="data.modifiers.public" class="badge badge-sm dxc-meta">public</span>
        <span *ngIf="data.modifiers.private" class="meta-access text-danger">private</span>
        <span *ngIf="data.modifiers.protected" class="meta-access text-primary">protected</span>-->

        <ng-container *ngIf="data.enclosingClass">
          <!--<ng-container *ngFor="let pkg of data.enclosingClass.package">
          <span class="meta-access">
            <i *ngIf="pkg.alias" class="text-warning">@{{ pkg.alias}}</i>
            {{ pkg.name }}
          </span>&gt;
          </ng-container>-->

          <ng-container *ngIf="data.enclosingClass.package">
            <span (click)="openPackage(data.enclosingClass.package)">
              <!--<dxc-icon [model]="icons['PKG']"></dxc-icon>&nbsp;-->
              <span class="dxc-icon-folders dxc-obj" *ngIf="data.enclosingClass.package.name!=''" (contextmenu)="controller.displayCtxMenu($event,'pkg',data.enclosingClass.package)">
                  <i *ngIf="data.enclosingClass.package.alias" class="text-warning dxc-obj">@{{ data.enclosingClass.package.alias}} : </i>
                {{ data.enclosingClass.package.name }}
                </span>
              <span class="dxc-icon-folders dxc-obj" *ngIf="data.enclosingClass.package.name==''">[root]</span>
              <!--<span class="badge rounded-pill " style="background-color: #b69e53">{{ data.enclosingClass.package.absolute_size }}</span>-->
              <!-- &gt; -->
            </span>
          </ng-container>
        </ng-container>






        <span (click)="goTo(data.enclosingClass)" (contextmenu)="controller.displayCtxMenu($event,'clazz',data.enclosingClass)">
          <!--<dxc-icon [model]="icons['CLASS']"></dxc-icon>&nbsp;-->
          <i *ngIf="data.enclosingClass.alias" class="text-warning dxc-obj">.@{{ data.enclosingClass.alias}}</i>
          <i *ngIf="data.enclosingClass.alias == null" class="dxc-obj">.{{ data.enclosingClass.simpleName }}</i>
        </span>

        <span class="text-info dxc-obj" (contextmenu)="controller.displayCtxMenu($event,'meth',data)">
          <i *ngIf="data.alias">.@{{ data.alias}}</i>
          <i *ngIf="data.alias == null">.{{ data.name}}</i>
        </span>

        (
        <ng-container *ngFor="let arg of data.args; let offset=index;">
          {{ offset>0? ',' : '' }}

          <span class="code-type dxc-obj" (click)="controller.showClass(arg.name)"  (contextmenu)="controller.displayCtxMenu($event,'par',arg)">
              {{ arg.name }}{{ arg.arr ? '[]' : '' }}
             </span>
        </ng-container>
        )
        <i class="text-warning dxc-obj" (contextmenu)="controller.displayCtxMenu($event,'par',data.ret)">: {{ data.ret.name }}</i>



        <!--<ng-container *ngFor="let mod of data.modifiers">
          <span class="badge rounded-pill "></span>
        </ng-container>-->

      </div>
<!--
      <div class="col-lg-4">
          <span class="badge text-bg-warning badge-sm dxc-meta">Hook</span><br>
          <div ngbDropdown *ngIf="data.modifiers.asbtract" class="d-inline-block">
            <button class="btn dxc-ctx-menu-btn code-abstract" id="ddAbstract" ngbDropdownToggle>abstract</button>
            <div ngbDropdownMenu class="dxc-ctx-menu" aria-labelledby="ddAbstract">
              <button ngbDropdownItem>Search implementation</button>
              <button ngbDropdownItem>Create hook</button>
              <button ngbDropdownItem>Link to ...</button>
            </div>
          </div>
      </div>-->
    </div>
  </div>




  <app-viewport-splitted [controller]="controller" [parent]="this" [flex]="true" [leftWidth]="100-rightWidth" [topHeight]="topHeight" [type]="'1:2'">
    <ng-container nav-left>
      <app-subnavbar [type]="'navbar'"  [parent]="this" #topNav>

          <ng-container main>
            <app-subnavbar-btn [active]="activeTop=='cfg'" [icon]="gIcons['LIST']" (click)="showGraph('disassembly')">&nbsp;CFG</app-subnavbar-btn>
            <app-subnavbar-btn [active]="activeTop=='bc'" [icon]="gIcons['LIST']" (click)="showBytecode()">&nbsp;Bytecode</app-subnavbar-btn>
              <app-subnavbar-btn [active]="activeTop=='xt'" [icon]="icons['XREF']"  (click)="showXrefTo()">&nbsp;XRef To</app-subnavbar-btn>
              <app-subnavbar-btn [active]="activeTop=='xf'" [icon]="icons['XREF']"  (click)="showXrefFrom()">&nbsp;XRef From</app-subnavbar-btn>
              <app-subnavbar-btn [active]="activeTop=='vm'" [icon]="gIcons['PLAY']" (click)="showDxcVM()">&nbsp;Simplify</app-subnavbar-btn>
            <app-subnavbar-menu [label]="'Deobfuscation'" [icon]="gIcons['ANALYZE']">
              <ng-container entries>
                <app-subnavbar-btn [icon]="gIcons['PLUS']" (click)="doDeobfuscationTask('count_nop')">Count NOP</app-subnavbar-btn>
                <app-subnavbar-btn [icon]="gIcons['PLUS']" (click)="doDeobfuscationTask('rm_nop')">Remove NOP</app-subnavbar-btn>
                <app-subnavbar-btn [icon]="gIcons['EDIT']" (click)="doDeobfuscationTask('rename')">Auto-rename</app-subnavbar-btn>
                <app-subnavbar-btn [disable]="true">Simplify CFG</app-subnavbar-btn>
              </ng-container>
            </app-subnavbar-menu>

            <!--<app-subnavbar-btn [disable]="true" [active]="activeTop=='ed'" [icon]="gIcons['EDIT']">&nbsp;Patch</app-subnavbar-btn>-->
            <app-subnavbar-btn [disable]="true" [active]="activeTop=='pv'" [icon]="icons['LIST']">&nbsp;Params</app-subnavbar-btn>
            <app-subnavbar-btn *ngIf="!data.probing" [active]="activeTop=='hk'" [icon]="gIcons['GEN_HOOK']" (click)="addProbe()">&nbsp;Generate hook</app-subnavbar-btn>
            <app-subnavbar-btn *ngIf="data.probing && data.hooked" [active]="activeTop=='hk'" [icon]="gIcons['STOP']" (click)="stopHooking()">&nbsp;Stop hooking</app-subnavbar-btn>
            <app-subnavbar-btn *ngIf="data.probing && (!data.hooked)" [active]="activeTop=='hk'" [icon]="gIcons['STOP']" (click)="stopHooking()">&nbsp;Start hooking</app-subnavbar-btn>
            <!-- <app-subnavbar-btn [icon]="gIcons['LAUNCH']" (click)="startApp()">&nbsp;Start Application</app-subnavbar-btn> -->
          </ng-container>
          <!--<ng-container options>
            <app-subnavbar-btn [icon]="gIcons['FILE']" [position]="'right'">&nbsp;Save</app-subnavbar-btn>
          </ng-container>-->
      </app-subnavbar>
    </ng-container>
      <ng-container body-left>

          <div class="container-fluid view-outer" [class.dxc-hidden]="(activeTop==null) || (activeTop!='bc')">
              <div #editor (contextmenu)="openEditorMenu($event)">
                  <ace-editor #codeEditor theme="monokai" style="overflow: auto;z-index:0;"></ace-editor>
              </div>
          </div>

          <div class="container-fluid view-outer" [class.dxc-hidden]="(activeTop==null) || (activeTop!='cfg')"
               *ngIf="activeBottom=='ast'">
              <app-graph-explorer [from]="data" [viewType]="'disassembly'"></app-graph-explorer>
          </div>

          <div class="container-fluid view-outer" [class.dxc-hidden]="(activeTop==null) || (activeTop!='cfg')"
               *ngIf="activeBottom=='cfg'" style="height:100%">
              <dxc-model-graph-viewer
                      [data]="cfgData"
                      [showToolbar]="true"
                      [showLegend]="true"
                      [maxDepth]="2"
                      [autoFit]="true"
                      (nodeClick)="onNodeClick($event)"
                      (selectionChange)="onNodeSelectionChange($event)">
              </dxc-model-graph-viewer>
          </div>

          <div class="container-fluid view-outer"
               [class.dxc-hidden]="(activeTop==null) || (['xt','xf'].indexOf(activeTop)==-1)"
               *ngIf="activeTop=='xt'||activeTop=='xf'" style="height:100%">
              <dxc-model-graph-viewer
                      [data]="xrefD"
                      [showToolbar]="true"
                      [showLegend]="true"
                      [maxDepth]="2"
                      [hidden]="getHiddenXref()"
                      [only]="['_caller','_called']"
                      [autoFit]="true"
                      (nodeClick)="onNodeClick($event)"
                      (selectionChange)="onNodeSelectionChange($event)">
              </dxc-model-graph-viewer>
          </div>

          <div class="container-fluid view-outer" [ngStyle]="{'height':'100%'}"
               [class.dxc-hidden]="(activeTop==null) || (activeTop!='vm')">
              <dxc-code-emulator [parentLayout]="layout" [node]="data"
                                 (vmLogs)="showVmLogs($event)"></dxc-code-emulator>
          </div>

          <app-subnavbar [type]="'navbar'" [parent]="this">
              <ng-container main>
                  <app-subnavbar-btn *ngIf="!direct && hooks!=null && hooks.length>0" [active]="activeBottom=='hk'"
                                     [icon]="gIcons['HOOKS']" (click)="showHooks()">Hooks
                  </app-subnavbar-btn>
                  <app-subnavbar-btn *ngIf="!direct && hooksMsg!=null && hooksMsg.length>0"
                                     [active]="activeBottom=='hm'" [icon]="gIcons['LIST']" (click)="showHooksLogs()">
                      Hooks logs
                  </app-subnavbar-btn>

                  <app-subnavbar-btn *ngIf="!direct && activeTop=='vm'" [active]="activeBottom=='vml'"
                                     (click)="showVmLogs()">DDVM Logs
                  </app-subnavbar-btn>
                  <app-subnavbar-btn *ngIf="!direct && activeTop=='vm'" [active]="activeBottom=='sym'"
                                     (click)="showVmSym()">DDVM Local Symbols
                  </app-subnavbar-btn>
              </ng-container>
              <ng-container *ngIf="data.gui_available==true && data.frontController!=null" extra>
                  <ng-container *ngFor="let act of data.frontController.actions">
                      <app-subnavbar-btn [icon]="act.nav.icon" (click)="performExtra(act.name)">{{ act.nav.label }}
                      </app-subnavbar-btn>
                  </ng-container>
              </ng-container>
          </app-subnavbar>
      </ng-container>


      <ng-container body-right>

      <!--<div class="container-fluid view-outer" [class.dxc-hidden]="(activeBottom==null) || (activeBottom!='xt')">
          <dxc-xref-list  [header]="false" [xrefto]="true" [data]="xrefTo"></dxc-xref-list>
      </div>-->

      <div class="container-fluid view-outer" [class.dxc-hidden]="(activeBottom==null) || (activeBottom!='sym')">
          <dxc-code-symbol-table></dxc-code-symbol-table>
      </div>

      <!--<div class="container-fluid view-outer" [class.dxc-hidden]="(activeBottom==null) || (activeBottom!='xf')">
          <dxc-xref-list [header]="false" [xreffrom]="true" [data]="xrefFrom"></dxc-xref-list>
      </div>-->

      <div *ngIf="!direct"  class="container-fluid view-outer" [class.dxc-hidden]="(activeBottom==null) || (activeBottom!='hk')">

        <ng-container *ngIf="hooksLen>0; else noHooks">
          <div class="row dxc-grid-header">
            <div class="col-lg-1">Status</div>
            <div class="col-lg-1">-</div>
            <div class="col-lg-10">Hook name</div>
          </div>
          <ng-container *ngFor="let hks of hooks">
            <div class="row dxc-grid-body" style="border-bottom: 1px solid #aaa">
              <ng-container *ngIf="hks.label; else noLabel" >
                <div class="col-lg-12">
                  {{ hks.label }}
                </div>
              </ng-container>
              <ng-template #noLabel>
                <div class="col-lg-12">
                  Custom hooks
                </div>
              </ng-template>
            </div>
            <ng-container *ngFor="let hk of hks.children">
              <div class="row dxc-grid-body" style="border-bottom: none">
                <div class="col-lg-2" (click)="switchHook(hk)">
                  <ng-container *ngIf="hk.enabled; else hkOff">
                    <span  class="badge rounded-pill  text-bg-success dxc-btn-hook">ON</span>
                  </ng-container>
                  <ng-template #hkOff>
                    <span class="badge rounded-pill  text-bg-danger dxc-btn-hook">OFF</span>
                  </ng-template>
                </div>
                <div class="col-lg-10" (dblclick)="openHook(hk)">
                  <span>{{ hk.name }}</span>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-template #noHooks>
          <div class="row"><div class="col-lg-12 text-center">
            <dxc-icon [model]="gIcons['WARNING']"></dxc-icon>This method is not hooked.
            <br>
            <button class="btn btn-success btn-sm mt-2" (click)="addProbe()">Generate hook</button>
          </div></div>
        </ng-template>

      </div>



      <div class="container-fluid view-outer" [class.dxc-hidden]="(activeBottom==null) || (activeBottom!='hm')">

        <ng-container *ngIf="hooks.length>0; else noHooks">
          <div class="row dxc-grid-header">
            <div class="col-lg-1">Inspector</div>
            <div class="col-lg-1">Options</div>
            <div class="col-lg-10">Hook name</div>
          </div>
          <ng-container *ngFor="let hk of hooks">
            <div class="row dxc-grid-body">
              <div class="col-lg-1">
                -
              </div>
              <div class="col-lg-1">
                -
              </div>
              <div class="col-lg-10">
                <span>{{ hk.name }}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #noHooks>
          <div class="row"><div class="col-lg-12 text-center">
            <dxc-icon [model]="gIcons['WARNING']"></dxc-icon>This method has been never hooked.</div></div>
        </ng-template>

      </div>



      <div class="container-fluid view-outer" [class.dxc-hidden]="(activeBottom==null) || (activeBottom!='vml')">
        <dxc-code-emu-log></dxc-code-emu-log>
      </div>



    </ng-container>

  </app-viewport-splitted>
</div>

