<app-modal-base [name]="'selectKP'" [closable]="closable"  [width]="600" [height]="400" [beforeShow]="beforeShow" [mainController]="controller.app">
  <div head class="dxc-modal-header">Interruptor Settings</div>
  <div body class="dxc-modal-body p-1">

  </div>
  <div footer>
    <button class="dxc-frm-btn" (click)="close()">Cancel</button>
    <button class="dxc-frm-btn default" (click)="saveChanges()">
      <dxc-icon [model]="gIcons['SAVE']"></dxc-icon>&nbsp;Save
    </button>
  </div>
</app-modal-base>
