<div  [class.dxc-hidden]="hiddenForce" class="container-fluid viewport-inspector" [ngStyle]="{ 'padding':'0px'}">

 <!-- <dxc-breadcrumb>
    <dxc-breadcrumb-item [fixed]="true">Inspector :</dxc-breadcrumb-item>
    <dxc-breadcrumb-item>{{ data.name }}</dxc-breadcrumb-item>
    <dxc-breadcrumb-item>description</dxc-breadcrumb-item>
  </dxc-breadcrumb>-->


  <div class="container-fluid dxc-text-100" style="margin: 10px 0px;padding:10px;">
    <dxc-icon [model]="gIcons['HELPER']" style="font-size:14px;color:#fff;margin:0px 5px;"></dxc-icon>
    <span>{{ data.description }}</span>
  </div>

  <app-viewport-splitted [controller]="controller" [parent]="this" [flex]="true" [leftWidth]="activeWidth" [type]="'1:2'">
    <ng-container nav-left>
      <app-subnavbar [type]="'navbar'"  [parent]="this">
        <ng-container main>
          <app-subnavbar-btn [active]="activeLeft=='st'"  (click)="showStrategy(30)">Strategies</app-subnavbar-btn>
          <app-subnavbar-btn [active]="activeLeft=='hk'"  (click)="showHooks(100)">Hooks</app-subnavbar-btn>
          <app-subnavbar-btn [active]="activeLeft=='er'"  (click)="showEventsRegistered(30)">Pipes</app-subnavbar-btn>
          <app-subnavbar-btn [active]="activeLeft=='ec'"  (click)="showEventsCaptured(50)">Events</app-subnavbar-btn>
        </ng-container>
      </app-subnavbar>
    </ng-container>
    <ng-container body-left>
      <!--<app-expandable-list [class.dxc-hidden]="(activeLeft==null) || (activeLeft.id!='hooks')">

      </app-expandable-list>-->

      <div class="container-fluid" [class.dxc-hidden]="(activeLeft==null) || (activeLeft!='hk')">
        <ng-container *ngFor="let h of hooks">
          <div class="row hook-row" (click)="openNode(h, h.__)">
            <div class="col-lg-1">
              <dxc-icon [model]="h.enable? hIcons['UP'] : hIcons['DOWN']"></dxc-icon>
            </div>
            <div class="col-lg-9 hook-label">
              <span *ngIf="h.method">{{ h.method.__signature__ }}</span>
              <span *ngIf="h.func">{{ h.func.__signature__ }}</span>
            </div>
            <div class="col-lg-2">
              <dxc-icon [model]="gIcons['START_OBSERVE']" [color1]="'ml-2 dxc-text-darker'"></dxc-icon>
              <dxc-icon [model]="gIcons['EDIT']" [color1]="'ml-2 dxc-text-darker'"></dxc-icon>
              <dxc-icon [model]="gIcons['HELPER']" [color1]="'ml-2 dxc-text-darker'"></dxc-icon>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="container-fluid" [class.dxc-hidden]="(activeLeft==null) || (activeLeft!='er')">
        <div class="row category">
          <div class="col-lg-12">
            <b>Input pipes</b>
          </div>
        </div>
        <ng-container *ngFor="let l of data.listener | keyvalue">
          <div class="row hook-row">
            <div class="col-lg-10">
              {{ l.key }}
            </div>
            <div class="col-lg-2">
              <dxc-icon [model]="gIcons['HELPER']" [color1]="'dxc-text-darker'"></dxc-icon>
            </div>
          </div>
        </ng-container>
        <div class="row category">
          <div class="col-lg-12">
            <b>Output pipes</b>
          </div>
        </div>
        <ng-container *ngIf="data.events.length>0; then pipeOut else noPipeOut"></ng-container>
        <ng-template #pipeOut>
          <ng-container *ngFor="let e of data.events" >
            <div class="row">
              <div class="col-lg-10">
                {{ e }}
              </div>
              <div class="col-lg-2">
                <dxc-icon [model]="gIcons['HELPER']"></dxc-icon>
              </div>
            </div>
          </ng-container>
        </ng-template>
        <ng-template #noPipeOut>
          <div class="row">
            <div class="col-lg-12">
              <i class="dxc-warning-icon">This inspector has not output pipes.</i>
            </div>
          </div>
        </ng-template>
      </div>

      <div class="container-fluid" [class.dxc-hidden]="(activeLeft==null) || (activeLeft!='st')">
        <!--
        <div class="row category">
          <div class="col-lg-12">
            <b>Output pipes</b>
          </div>
        </div>
        -->
        <ng-container *ngIf="data.hookset">
          <ng-container *ngFor="let e of data.hookset.strats" >
            <div class="row hook-row" (click)="showDetail(NODE_TYPES.HOOK_STRATEGY, e)">
              <div class="col-lg-10">
                {{ e.name }}
              </div>
              <div class="col-lg-2">
                <dxc-icon [model]="gIcons['HELPER']"></dxc-icon>
              </div>
            </div>
          </ng-container>
        </ng-container>

      </div>

      <!--<div class="container-fluid" [class.dxc-hidden]="(activeLeft==null) || (activeLeft!='ec')">
        <ng-container *ngFor="let l of data.listener">
          <div class="row hook-row">
            <div class="col-lg-10">
              {{ l.n }}
            </div>
            <div class="col-lg-2">
              <dxc-icon [model]="gIcons['HELPER']" [color1]="'dxc-text-darker'"></dxc-icon>
            </div>
          </div>
        </ng-container>
      </div>-->
    </ng-container>



    <!--<ng-container nav-right>
      <app-subnavbar [type]="'navbar'"  [parent]="this"></app-subnavbar>
    </ng-container>-->


    <ng-container body-right>
      <div class="container-fluid" #hookStrategyEl *ngIf="activeItem && activeItem.search" [class.dxc-hidden]="(activeRight!=NODE_TYPES.HOOK_STRATEGY)">
        <h4 class="m-1 dxc-text-yellow">{{ activeItem.name }}</h4>
        <p class="m-1 mt-2 dxc-text-clear75">
          {{ activeItem.descr }}
        </p>
        <div class="row m-1">
          <div class="col-6 ml-1 dxc-row-header">Event</div>
          <div class="col-3 ml-1 dxc-row-header">When</div>
        </div>
        <div class="row m-1 mt-0">
          <div class="col-6 ml-1 dxc-row-body">
            {{ activeItem.emitEvent!=null ? activeItem.emitEvent : 'No event emit' }}
          </div>
          <div class="col-3 ml-1 dxc-row-body dxc-green-pale">
            <span *ngIf="activeItem.emitEvent!=null" [ngClass]="{ 'text-danger':(activeItem.emitEvent==null) }">{{ activeItem.autoEmit ? 'auto' : 'processed' }}</span>
          </div>
        </div>
        <h6 class="m-1 mt-3 dxc-text-100">Rules</h6><br>
        <div *ngIf="activeItem.search.req"  class="box m-1 mt-1 p-2">
            <div class="row dxc-text-yellow">
              <div class="col-12">
                <span class="badge badge-warning dxc-meta"><dxc-icon [model]="gIcons['FIND']" [color1]="'yellow'"></dxc-icon>&nbsp;search</span>
                <!--<dxc-meta ><dxc-icon [model]="gIcons['FIND']" [color1]="'yellow'"></dxc-icon>&nbsp;request</dxc-meta>-->
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div *ngFor="let r of activeItem.search.req">
                  {{ r }}
                </div>
              </div>
            </div>
        </div>
        <div *ngIf="activeItem.search.uid"  class="box m-1 mt-3 p-2">
          <div class="row dxc-text-yellow">
            <div class="col-12">
              <span class="badge badge-warning dxc-meta"><dxc-icon [model]="gIcons['TARGET']" [color1]="'yellow'"></dxc-icon>&nbsp;static signature</span>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12 ">
              <div class="actionable" *ngFor="let r of activeItem.search.uid" (click)="openNode(r, NODE_TYPES.METHOD)" [ngbTooltip]="'Show details'" >
                {{ r }}
              </div>
            </div>
          </div>
        </div>

        <div class="ml-1">
          <app-subnavbar [type]="'navbar'"  [parent]="this">
            <ng-container main>
              <app-subnavbar-btn *ngIf="activeItem.before!=null" [active]="activeFrag==FRAG.BEFORE"  (click)="showFrag(FRAG.BEFORE, activeItem.before)">Before</app-subnavbar-btn>
              <app-subnavbar-btn *ngIf="activeItem.after!=null" [active]="activeFrag==FRAG.AFTER"  (click)="showFrag(FRAG.AFTER, activeItem.after)">After</app-subnavbar-btn>
              <app-subnavbar-btn *ngIf="activeItem.replace!=null" [active]="activeFrag==FRAG.REPLACE"  (click)="showFrag(FRAG.REPLACE, activeItem.replace)">Replace</app-subnavbar-btn>
              <dxc-helper-btn [fmt]="helpSvc.BTN_NAV" [docid]="'insp.frag.tpl'">Help</dxc-helper-btn>
            </ng-container>
          </app-subnavbar>
          <ace-editor #frTplEditor theme="monokai" style="overflow: auto;z-index:0;"></ace-editor>
        </div>

      </div>
    </ng-container>

  </app-viewport-splitted>
</div>
