<div class="row">
    <div class="col-3" *ngIf="dropdownRowsPerPage">Items per page</div>
    <div class="col-3" *ngIf="dropdownRowsPerPage">
        <!--<div ngbDropdown [ngStyle]="_style" [ngClass]="_class">
            <button class="btn dxc-text-clear100" [id]="'dropdownBasic'+id" ngbDropdownToggle (click)="openMenu()">
                <dxc-icon *ngIf="trail" [model]="_trailIconNeg" [color1]="'trail-arrow-neg'"></dxc-icon>
                {{ label  }}
            </button>
            <div ngbDropdownMenu aria-labelledby="id" class="dxc-dropdown" #ddEl>
                <button *ngFor="let item of navbar.menu.items" [ngClass]="item.color" (click)="onMenuItemSelect(item)"  ngbDropdownItem>
                  <fa-icon class="dxc-icon" [icon]="[item.icon.type,item.icon.name]" [ngClass]="item.icon.color1"></fa-icon>
                  {{ item.label }}
                </button>
            </div>
        &nbsp;
        </div>-->
        &nbsp;
    </div>
    <div [class]="dropdownRowsPerPage? 'col-3':'col-6'" class="text-end">
        {{ range.offset}}&nbsp;-&nbsp;{{ range.offset+range.size}}&nbsp;of&nbsp;{{totalRecords}}
    </div>
    <div [class]="dropdownRowsPerPage? 'col-3':'col-6'" class="text-start">
        <dxc-btn [borderless]="true" [icon]="gIcons['LEFT']" (click)="goTo('prev')"></dxc-btn>&nbsp;
        <dxc-btn [borderless]="true" [icon]="gIcons['RIGHT']" (click)="goTo('next')"></dxc-btn>
    </div>
</div>
