button {

  &.dxc-grid {
    padding:0;
    margin:0;
    color: var(--text-75);
    background-color: var(--input-bg);
    border: none;
    font-size: 12px;
    font-weight:400;

    &:hover {
      color: dodgerblue;
    }
  }

  &.vertical {
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 16px;
  }

  &.disable {
    color: var(--nav-disabled-text);
    background-color: transparent;
    cursor: not-allowed;

    dxc-icon {
      color: var(--dxc-);
      --fa-primary-color: var(--nav-disabled-text);
      --fa-secondary-color: var(--nav-disabled-text);
    }

    &:hover {
      user-select: none;
      color: var(--nav-disabled-text);
      background-color: transparent;
      border-color: transparent;
    }
  }
}