<app-modal-base [name]="'pgbar'" [closable]="closable" [width]="width" [height]="130" [mainController]="mainController" (open)="onOpen($event)">
  <div head *ngIf="title!=null" class="dxc-modal-header">
    {{ title }}
  </div>
  <div body class="dxc-modal-body">
    <ngb-progressbar type="info" [animated]="true" [value]="progress" height="10px"></ngb-progressbar>
    <ng-container *ngIf="message">
      <i class="dxc-text-clear100">{{ message }}</i>
    </ng-container>
  </div>

  <div *ngIf="cancelable" footer class="row">
    <div class="col-lg-6">&nbsp;</div>
    <div class="col-lg-5 text-right pr-1 ml-0 mr-0">
      <button class="dxc-frm-btn" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</app-modal-base>
