<ng-container *ngIf="type=='1:2'">
  <div class="container-fluid row dxc-no-gutters viewport-splitted" [ngStyle]="{ height: heightPct+'%' }" #2colLayout>
    <div class="ctn-code-left p-0" [ngClass]="getCssClass('left-ctn')" #leftCtn>
      <ng-content select="[nav-left]"></ng-content>
      <div class="host-left" [ngClass]="getCssClass('left-body')"  #leftVH leftViewHost>
        <ng-content select="[body-left]"></ng-content>
      </div>
    </div>
    <div class="ctn-code-right p-0" [ngClass]="getCssClass('right-ctn')"  #rightCtn>
      <ng-content select="[nav-right]"></ng-content>
      <div class="host-right" [ngClass]="getCssClass('right-body')"  #rightVH rightViewHost>
        <ng-content select="[body-right]"></ng-content>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="type=='2:1'">
  <div class="container-fluid viewport-splitted" [ngStyle]="{ height: heightPct+'%' }" #2rowLayout>
    <div class="ctn-code-top p-0" [ngClass]="getCssClass('top-ctn')"  #topCtn>
      <ng-content select="[nav-top]"></ng-content>
      <div class="host-top p-0" [ngClass]="getCssClass('top-body')"  topViewHost>
        <ng-content select="[body-top]"></ng-content>
      </div>
    </div>
    <div class="ctn-code-bottom p-0" [ngClass]="getCssClass('bottom-ctn')"  #bottomCtn>
      <ng-content select="[nav-bottom]"></ng-content>
      <div class="host-bottom p-0" [ngClass]="getCssClass('bottom-body')"  bottomViewHost>
        <ng-content select="[body-bottom]"></ng-content>
      </div>
    </div>
  </div>
</ng-container>
