<div [class.dxc-hidden]="offset != parent.active" class="explorer-code" #explCodeRef (click)="kbSvc.focus(this)">
    <app-explorer-navbar [explorer]="this" id="{{ view.getNavID() }}" (menuItemClick)="onMenuItemClick($event)">
        <ng-container menu>

        </ng-container>
        <ng-container opts>
        <button class="btn-option" [ngbTooltip]="'Refresh list'" (click)="refresh()"><fa-icon [icon]="['fas','rotate']"></fa-icon></button>
        <button class="btn-option" [ngbTooltip]="'Search in ..'" (click)="search()"><fa-icon [icon]="['fas','magnifying-glass']"></fa-icon></button>
        <button class="btn-option" [ngbTooltip]="'Hide alias'" (click)="checkOpt('alias', (opts.alias==true ? false : true ) )">
            <dxc-icon [model]="opts.alias?icons.ALIAS:icons.ALIAS_HIDDEN"></dxc-icon>
        </button>
        <!--<button class="btn-option" (click)="filter()"><fa-icon [icon]="['fas','filter']"></fa-icon></button>-->
      </ng-container>
    </app-explorer-navbar>

    <!--<ul *ngIf="view.subnav != null" class="nav">
      <li *ngFor="let navBtn in view.subnav.menu.items">
        <dxc-icon [model]="navBtn.icon"></dxc-icon>
      </li>
    </ul>-->

    <div class="explorer-list-root" #explCodeCtnRef>
      <app-expandable-list *ngIf="projectReady">

        <ng-container *ngFor="let pkg of packages[selected]; trackBy: itemIdentify">

          <ng-template #expCodeItem let-itemObj="item">

            <!--<div *ngIf="itemObj.type=='c'; then classTpl else pkgTpl"></div>-->

            <span *ngIf="NODE_TYPES.PACKAGE==itemObj.__" #pkgTpl (contextmenu)="displayCtxMenu($event,'pkg',itemObj)">
              <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
              <dxc-meta *ngIf="tags.DYNAMIC.match(itemObj)" [css]="'dxc-purple'" [label]="'DYN'">DYN</dxc-meta>
              <div *ngIf="itemObj.sname; then pkgSName else pkgName"></div>
              <ng-template #pkgName>
                {{ itemObj.name  }}
              </ng-template>
              <ng-template #pkgSName>
                {{ itemObj.sname  }}
              </ng-template>
            </span>

            <span *ngIf="NODE_TYPES.CLASS==itemObj.__" #classTpl (contextmenu)="displayCtxMenu($event,'clazz',itemObj)">
              <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
              <dxc-meta *ngIf="tags.DYNAMIC.match(itemObj)" [css]="'dxc-purple'" [label]="'DYN'"></dxc-meta>
              <div *ngIf="(itemObj.alias && opts.alias); then aliasedClz else stdClz"></div>
              <ng-template #aliasedClz>
                <span class="text-warning">@{{ itemObj.alias }}</span>
              </ng-template>
              <ng-template #stdClz>
                <ng-container *ngIf="itemObj.sname; then clzName else clzFQCN"></ng-container>
                <ng-template #clzFQCN>
                  {{ itemObj.name  }}
                </ng-template>
                <ng-template #clzName>
                  {{ itemObj.sname  }}
                </ng-template>
              </ng-template>
            </span>

            <span *ngIf="NODE_TYPES.FIELD==itemObj.__" #fieldTpl (contextmenu)="displayCtxMenu($event,'fld',itemObj)">
              <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
              <div *ngIf="itemObj.alias; then aliasedFld else stdFld"></div>
              <ng-template #aliasedFld>
                <span class="text-warning">@{{ itemObj.alias }}</span>
              </ng-template>
              <ng-template #stdFld>
                  {{ itemObj.name  }}
              </ng-template>
              <i class="text-warning" *ngIf="itemObj.type">&nbsp;:{{itemObj.type.name}}</i>
            </span>

            <span *ngIf="NODE_TYPES.METHOD==itemObj.__" #methTpl (contextmenu)="displayCtxMenu($event,'meth',itemObj)">


              <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
<!--
              <span *ngIf="itemObj.mod._t=='clinit'" class="text-purple" style="width:15px;text-align:right"><b>S:</b></span>
              <span *ngIf="itemObj.mod._t=='new'" class="text-primary" style="width:15px;text-align:right"><b>C:</b></span>
              <span *ngIf="itemObj.mod._t==null" class="text-danger" style="width:15px;text-align:right"><b>M:</b></span>-->

              <span *ngIf="itemObj.mod.abstract" class="text-warning" style="padding-left:5px;"><i>(a)</i></span>
              <fa-icon *ngIf="itemObj.probing" [icon]="['fas','bolt']" class="dxc-text-yellow ml-1"></fa-icon>



              <div *ngIf="itemObj.__aliasedCallSignature__!=null; then aliasedCallSign else callSign"></div>
              <ng-template #aliasedCallSign>
                <i class="text-info"> @{{ itemObj.__aliasedCallSignature__ }}</i>
              </ng-template>
              <ng-template #callSign>
                {{ itemObj.__callSignature__  }}
              </ng-template>


            </span>

            <span *ngIf="NODE_TYPES.FILE==itemObj.__" #binTpl (contextmenu)="displayCtxMenu($event,'bin',itemObj)">
              <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
              <div *ngIf="itemObj.alias; then aliasedBin else stdBin"></div>
              <ng-template #aliasedBin>
                <span class="text-warning">@{{ itemObj.alias }}</span>
              </ng-template>
              <ng-template #stdBin>
                <span class="pl-1" [ngClass]="{ 'text-success': itemObj.$r }">{{ itemObj.name  }}</span>
              </ng-template>
            </span>

            <span *ngIf="NODE_TYPES.FUNC==itemObj.__" #methTpl (contextmenu)="displayCtxMenu($event,'fun',itemObj)">
              <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
              <div *ngIf="itemObj.alias!=null; then aliasedSym else stdSym"></div>
              <ng-template #aliasedSym>
                <i class="text-info"> @{{ itemObj.alias }}</i>
              </ng-template>
              <ng-template #stdSym>
                  <span [ngStyle]="{ color:itemObj._style.color  }">{{ itemObj.name  }}</span>
              </ng-template>
            </span>

            <span *ngIf="NODE_TYPES.EXEC_SECTION==itemObj.__" (contextmenu)="displayCtxMenu($event,'sect',itemObj)">
                <div class="row">
                  <div class="col-3">[0x{{ itemObj.vaddr }}]</div>
                  <div class="col-2">{{ itemObj.memsz }}</div>
                  <div class="col-3">{{ itemObj.perm }}</div>
                  <div class="col-4">{{ itemObj.name }}</div>
                </div>
            </span>

            <span *ngIf="itemObj._t=='b'" #byteTpl (contextmenu)="displayCtxMenu($event,'pkg',itemObj)">
              <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
              <dxc-meta *ngIf="tags.DYNAMIC.match(itemObj)" [css]="'dxc-purple'" [label]="'DYN'">DYN</dxc-meta>
              <div *ngIf="itemObj.sname; then pkgSName else pkgName"></div>
              <ng-template #pkgName>
                {{ itemObj.name  }}
              </ng-template>
              <ng-template #pkgSName>
                {{ itemObj.sname  }}
              </ng-template>
            </span>



              <span *ngIf="itemObj.___!=null && itemObj.___==='funcs'">
                  <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
                  Functions
             </span>
              <span *ngIf="itemObj.___!=null && itemObj.___==='sect'">
                  <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
                  Sections
             </span>
              <span *ngIf="itemObj.___!=null && itemObj.___==='syscalls'">
                  <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
                  Syscalls
             </span>
              <span *ngIf="itemObj.___!=null && itemObj.___==='strings'">
                  <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
                  Strings
             </span>
              <span *ngIf="itemObj.___!=null && itemObj.___==='imp'">
                  <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
                  Imports
             </span>
              <span *ngIf="itemObj.___!=null && itemObj.___==='exp'">
                  <dxc-icon *ngIf="itemObj._icon" [model]="itemObj._icon"></dxc-icon>
                  Exports
             </span>



          </ng-template>

          <app-expandable-item
            [itemTpl]="expCodeItem"
            [item]="pkg"
            [provider]="this"
            [itemType]="pkg._t"
            [expandableFn]="isExpandable"
            (itemFocus)="onItemFocus($event)"
            (collapse)="onCollapse($event)"
            (expand)="onExpand($event)"
            >

          </app-expandable-item>
        </ng-container>
      </app-expandable-list>
      <div *ngIf="!projectReady" class="text-center dxc-text-clear100 pt-4">
        <dxc-icon [model]="gIcons['SPINNER']"></dxc-icon>&nbsp;Loading
        Open a project first.
      </div>
    </div>
</div>



<app-context-menu [name]="'meth'"  [width]="300">
  <app-context-item [icon]="gIcons['COPY']" [label]="'Copy'" (itemclick)="copy(ctxMenuState.subject,'__callSignature__')"></app-context-item>
  <app-context-item [label]="'Copy name'" (itemclick)="copyAttr(ctxMenuState.subject, 'name')"></app-context-item>
  <app-context-item [label]="'Copy aliased signature'" (itemclick)="copyAttr(ctxMenuState.subject, '__aliasedSignature__')"></app-context-item>
  <app-context-item [label]="'Copy class name'" (itemclick)="copyAttr(ctxMenuState.subject, 'enclosingClass')"></app-context-item>
  <!--<app-context-item [label]="'Copy package name'" (itemclick)="copyAttr(ctxMenuState.subject, 'enclosingClass.pkg.name')"></app-context-item>-->
  <app-context-item [separator]="true" [label]="'Rename method'" [icon]="gIcons['EDIT']" (itemclick)="controller.renameItem(ctxMenuState.subject)"></app-context-item>
    <app-context-item [label]="'Show declaring class'" [icon]="gIcons['FIND']" (itemclick)="controller.showClass(ctxMenuState.subject.enclosingClass)"></app-context-item>
  <app-context-item [label]="'Show method'" [icon]="gIcons['FIND']" (itemclick)="controller.showItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [label]="'Xref from'" (itemclick)="controller.showXref(ctxMenuState.subject, {type:'from'})"></app-context-item>
  <app-context-item [label]="'Xref to'" (itemclick)="controller.showXref(ctxMenuState.subject, {type:'to'})"></app-context-item>
  <app-context-item [separator]="true" [label]="'Trace call'" (itemclick)="trackValueOf(ctxMenuState.subject, { type: PRESET_HOOK.TRACK })"></app-context-item>
  <app-context-item [label]="'Tamper return value'" (itemclick)="trackValueOf(ctxMenuState.subject, {type: PRESET_HOOK.TAMPER_RET  })"></app-context-item>
  <app-context-item [label]="'Tamper param value'" (itemclick)="trackValueOf(ctxMenuState.subject, {type: PRESET_HOOK.TAMPER_PARAM  })"></app-context-item>
  <app-context-item [icon]="gIcons['GEN_HOOK']" [label]="'More hook ...'" (itemclick)="createHook(ctxMenuState.subject)"></app-context-item>
  <app-context-item [icon]="gIcons['PLAY']" [label]="'Run'" (itemclick)="controller.showItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [separator]="true" [label]="'New KeyPoint on define'" (itemclick)="newKP(ctxMenuState.subject, {condition:'mthkp_def'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint before call'" (itemclick)="newKP(ctxMenuState.subject, {condition:'mthkp_bef'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint after call'" (itemclick)="newKP(ctxMenuState.subject, {condition:'mthkp_aft'})"></app-context-item>
  <!--<app-context-item [label]="'New KeyPoint on invocation handler change'" (itemclick)="newKP(ctxMenuState.subject, {condition:'mthkp_hdl'})"></app-context-item>-->
  <app-context-item [label]="'New KeyPoint ...'" (itemclick)="newKP(ctxMenuState.subject)"></app-context-item>
</app-context-menu>

<app-context-menu [name]="'clazz'"  [width]="300">
  <app-context-item [label]="'Copy class name'" (itemclick)="copyAttr(ctxMenuState.subject, 'sname')"></app-context-item>
  <app-context-item [label]="'Copy FQCN'" (itemclick)="copyAttr(ctxMenuState.subject, 'name')"></app-context-item>
  <!--<app-context-item [label]="'Copy package name'" (itemclick)="copyAttr(ctxMenuState.subject.package.name)"></app-context-item>-->
  <app-context-item [separator]="true" [label]="'Rename class'" [icon]="gIcons['EDIT']" (itemclick)="controller.renameItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [label]="'Show class'" [icon]="gIcons['FIND']" (itemclick)="controller.showItem(ctxMenuState.subject)"></app-context-item>
  <!--<app-context-item [label]="'Xref'" (itemclick)="controller.showItem(ctxMenuState.subject)"></app-context-item>-->
  <app-context-item [separator]="true" [label]="'Trace new instance'" (itemclick)="trackValueOf(ctxMenuState.subject, { type:PRESET_HOOK.TRACK_JAVA_NEW_INST })"></app-context-item>
  <app-context-item [icon]="gIcons['GEN_HOOK']" [label]="'More hook ...'" (itemclick)="createHook(ctxMenuState.subject.name)"></app-context-item>
  <app-context-item [separator]="true" [label]="'New KeyPoint on load'" (itemclick)="newKP(ctxMenuState.subject, {condition:'clskp_load' })"></app-context-item>
  <app-context-item [label]="'New KeyPoint on first new instance'" (itemclick)="newKP(ctxMenuState.subject, {condition:'clskp_new_1st' })"></app-context-item>
  <app-context-item [label]="'New KeyPoint on any new instance'" (itemclick)="newKP(ctxMenuState.subject, {condition:'clskp_new_any' })"></app-context-item>
  <app-context-item [label]="'New KeyPoint ...'" (itemclick)="newKP(ctxMenuState.subject)"></app-context-item>
  <app-context-item [separator]="true" [label]="'Smart renaming'" (itemclick)="doSmartRename(ctxMenuState.subject)"></app-context-item>
</app-context-menu>

<app-context-menu [name]="'par'"  [width]="300">
  <app-context-item [label]="'Rename class'" [icon]="gIcons['EDIT']" (itemclick)="controller.renameItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [label]="'Show class'" [icon]="gIcons['FIND']" (itemclick)="controller.showItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [label]="'Xref'" (itemclick)="controller.showItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [separator]="true" [label]="'Trace value'" (itemclick)="trackValueOf(ctxMenuState.subject, { type:PRESET_HOOK.TRACK_PARAM })"></app-context-item>
  <app-context-item [label]="'Tamper value'" (itemclick)="trackValueOf(ctxMenuState.subject.name, { type:PRESET_HOOK.TAMPER_PARAM })"></app-context-item>
  <app-context-item [icon]="gIcons['GEN_HOOK']" [label]="'More hook ...'" (itemclick)="createHook(ctxMenuState.subject.name, {type:'param' })"></app-context-item>
  <app-context-item [separator]="true" [label]="'Taint : use as source'" (itemclick)="taint(ctxMenuState.subject, 'source')"></app-context-item>
  <app-context-item [separator]="true" [label]="'Copy class name'" (itemclick)="copyAttr(ctxMenuState.subject, 'simpleName')"></app-context-item>
  <app-context-item [label]="'Copy FQCN'" (itemclick)="copyAttr(ctxMenuState.subject, 'name')"></app-context-item>
  <app-context-item [label]="'Copy package name'" (itemclick)="copyAttr(ctxMenuState.subject.package.name)"></app-context-item>
  <app-context-item [separator]="true" [label]="'New KeyPoint on load'" (itemclick)="newKP(ctxMenuState.subject, {type:'jclass_load', _t:0})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on instance'" (itemclick)="newKP(ctxMenuState.subject, {type:'jclass_new', _t:0})"></app-context-item>
  <app-context-item [label]="'New KeyPoint ...'" (itemclick)="newKP(ctxMenuState.subject)"></app-context-item>
</app-context-menu>


<app-context-menu [name]="'fld'" [width]="300">
    <app-context-item [label]="'Show declaring class'" [icon]="gIcons['FIND']" (itemclick)="controller.showClass(ctxMenuState.subject.enclosingClass)"></app-context-item>
  <app-context-item [label]="'Search Read'" (itemclick)="controller.showXref(ctxMenuState.subject,{ type:'read' })"></app-context-item>
  <app-context-item [label]="'Search Write'" (itemclick)="controller.showXref(ctxMenuState.subject,{ type:'write' })"></app-context-item>
  <app-context-item [label]="'Rename field'" [icon]="gIcons['EDIT']" (itemclick)="controller.renameItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [separator]="true" [label]="'Copy field name'" (itemclick)="copyAttr(ctxMenuState.subject, 'simpleName')"></app-context-item>
  <app-context-item [label]="'Copy FQN'" (itemclick)="copyAttr(ctxMenuState.subject, 'name')"></app-context-item>
  <app-context-item [label]="'Copy value'" (itemclick)="copyAttr(ctxMenuState.subject, 'value')"></app-context-item>
  <app-context-item [separator]="true" [label]="'Patch value dynamically'" (itemclick)="controller.showItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [separator]="true" [label]="'New KeyPoint on define'" (itemclick)="newKP(ctxMenuState.subject, {condition:'fldkp_def'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on read'" (itemclick)="newKP(ctxMenuState.subject, {condition:'fldkp_r'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on write'" (itemclick)="newKP(ctxMenuState.subject, {condition:'fldkp_w'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on visibility change'" (itemclick)="newKP(ctxMenuState.subject, {condition:'fldkp_vis'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint ...'" (itemclick)="newKP(ctxMenuState.subject)"></app-context-item>
</app-context-menu>

<app-context-menu [name]="'pkg'"  [width]="300">
  <app-context-item [label]="'Rename package'" [iconName]="'EDIT'" (click)="controller.renameItem(ctxMenuState.subject)"></app-context-item>
  <!--<app-context-item [label]="'Show package'" (click)="controller.showItem(ctxMenuState.subject)"></app-context-item>-->
  <app-context-item [separator]="true" [label]="'Copy name'" (itemclick)="copyAttr(ctxMenuState.subject, 'sname')"></app-context-item>
  <app-context-item [label]="'Copy package'" (itemclick)="copyObj(ctxMenuState.subject, 'name')"></app-context-item>
  <app-context-item [separator]="true" [label]="'New KeyPoint on class loaded from'" (itemclick)="newKP(ctxMenuState.subject, {condition:'pkgkp_load'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint ...'" (itemclick)="newKP(ctxMenuState.subject)"></app-context-item>
  <app-context-item [separator]="true" [label]="'Smart renaming'" (itemclick)="doSmartRename(ctxMenuState.subject)"></app-context-item>
</app-context-menu>

<app-context-menu [name]="'bin'"  [width]="300">
  <app-context-item [label]="'Explore'" [iconName]="'FIND'" (click)="controller.showItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [label]="'Show file path on computer'" (click)="controller.printFilePath(ctxMenuState.subject)"></app-context-item>
  <app-context-item [label]="'Analyze'" [iconName]="'PLAY'" (click)="runNativeAnalysis(ctxMenuState.subject)"></app-context-item>
  <app-context-item [separator]="true" [label]="'New KeyPoint after JNI Onload'" (itemclick)="newKP(ctxMenuState.subject, {condition:'flkp_load'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint before entrypoint'" (itemclick)="newKP(ctxMenuState.subject, {condition:'flkp_link'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on dl_open'" (itemclick)="newKP(ctxMenuState.subject, {condition:'flkp_dlo'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on mmap'" (itemclick)="newKP(ctxMenuState.subject, {condition:'flkp_mmap'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on FS open'" (itemclick)="newKP(ctxMenuState.subject, {condition:'flkp_open'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on FS read'" (itemclick)="newKP(ctxMenuState.subject, {condition:'flkp_read'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on FS write'" (itemclick)="newKP(ctxMenuState.subject, {condition:'flkp_write'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on FS delete'" (itemclick)="newKP(ctxMenuState.subject, {condition:'flkp_del'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint ...'" (itemclick)="newKP(ctxMenuState.subject)"></app-context-item>
</app-context-menu>

<app-context-menu [name]="'fun'" [width]="300">
  <app-context-item [label]="'Rename (alias)'" [icon]="gIcons['EDIT']" (itemclick)="controller.renameItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [label]="'Show'" (click)="controller.showItem(ctxMenuState.subject)"></app-context-item>
  <app-context-item [label]="'Xref from'" [disabled]="true" (click)="controller.showXref(ctxMenuState.subject,{ type:'xf' })"></app-context-item>
  <app-context-item [label]="'Xref to'"  [disabled]="true"  (click)="controller.showXref(ctxMenuState.subject,{ type:'xt' })"></app-context-item>
  <!--<app-context-item [icon]="gIcons['GEN_HOOK']"  [label]="'Generate hook'" (click)="createNativeHook( 'fn', ctxMenuState.subject)"></app-context-item>-->
  <app-context-item [separator]="true" [label]="'Trace call'" (itemclick)="trackValueOf(ctxMenuState.subject, { type: PRESET_HOOK.TRACK })"></app-context-item>
  <app-context-item [label]="'Tamper return value'" (itemclick)="trackValueOf(ctxMenuState.subject, {type: PRESET_HOOK.TAMPER_RET  })"></app-context-item>
  <app-context-item [label]="'Tamper param value'" (itemclick)="trackValueOf(ctxMenuState.subject, {type: PRESET_HOOK.TAMPER_PARAM  })"></app-context-item>
  <app-context-item [label]="'Generate empty hook'" [icon]="gIcons['GEN_HOOK']"  (click)="trackValueOf( ctxMenuState.subject, {type: PRESET_HOOK.NONE  } )"></app-context-item>
  <app-context-item [label]="'Add bookmark'" [icon]="gIcons['BOOKMARK']"  (click)="addBookmark(ctxMenuState.subject)"></app-context-item>
    <app-context-item [label]="'Emulate'" [icon]="gIcons['PLAY']"  (click)="startEmu(ctxMenuState.subject)"></app-context-item>
    <app-context-item [separator]="true" [label]="'New KeyPoint before call'" (itemclick)="newKP(ctxMenuState.subject, {condition:'fnkp_bef'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint after call'" (itemclick)="newKP(ctxMenuState.subject, {condition:'fnkp_aft'})"></app-context-item>
  <app-context-item [label]="'New KeyPoint on dlsym'" (itemclick)="newKP(ctxMenuState.subject, {condition:'fnkp_dlsym'})"></app-context-item>
</app-context-menu>


<app-modal-rename [controller]="controller"></app-modal-rename>

<!--<dxc-modal-method [controller]="controller"></dxc-modal-method>-->


