<div [class.dxc-hidden]="!parent.isTabActive(this)" class="term-ws" #termWs>
  <app-subnavbar [type]="'navtab'" [navtab]="this.view.nav" [items]="_sessions" [parent]="this"
                 (closeTab)="onClose($event)" (selectTab)="switchSession($event)" #termWsNav>
    <b class="nav-label" navLabel>Terminal :</b>
    <ng-container rightTab>
      <app-subnavbar-tab [icon]="gIcons.PLUS" [closable]="false" (click)="newSession()"></app-subnavbar-tab>
    </ng-container>
  </app-subnavbar>

  <div class="term-ws-ctn" style="background-color:#000000" #termWsCtn>
    <ng-terminal [dataSource]="writeSubject" #terminal [style.visibility]="visibilityTerm"></ng-terminal>
  </div>
</div>


