<div [class.dxc-hidden]="(parent.activeCtn==null) || (id!=parent.activeCtn.id)"  class="container-fluid viewport-topo">

  <ng-container *ngIf="data.__==NODE_TYPES.ANDROID_ACTIVITY">
    <app-viewport-topo-activity [data]="data" [width]="size.width" [height]="size.height" [parent]="this" [controller]="controller"></app-viewport-topo-activity>
  </ng-container>
  <ng-container *ngIf="data.__==NODE_TYPES.ANDROID_SERVICE">
    <app-viewport-topo-service [data]="data" [width]="size.width" [height]="size.height" [parent]="this" [controller]="controller"></app-viewport-topo-service>
  </ng-container>
  <ng-container *ngIf="data.__==NODE_TYPES.ANDROID_PROVIDER">
    <app-viewport-topo-provider [data]="data" [width]="size.width" [height]="size.height" [parent]="this" [controller]="controller"></app-viewport-topo-provider>
  </ng-container>
  <ng-container *ngIf="data.__==NODE_TYPES.ANDROID_RECEIVER">
    <app-viewport-topo-receiver [data]="data" [width]="size.width" [height]="size.height" [parent]="this" [controller]="controller"></app-viewport-topo-receiver>
  </ng-container>

</div>

<dxc-modal-send-intent [controller]="controller"></dxc-modal-send-intent>

