<div  [class.dxc-hidden]="(parent.activeCtn==null) || (id!=parent.activeCtn.id)"  class="container-fluid" class="pl-0 pr-0" [ngStyle]="{ 'height': height+'px', 'minHeight': height+'px' }">
  <div #metadata style="border-bottom:1px solid #777;line-height: 1">



    <ng-container *ngFor="let t of data.__tag">
      <span *ngIf="data" class="badge text-bg-info dxc-meta">{{ t }}</span>
    </ng-container>

    <ng-container *ngIf="data.attr.process">
      <span *ngIf="data.attr.process[0]!='.' && data.attr.process[0]<97" class="badge text-bg-danger dxc-meta">external process : {{ data.attr.process }}</span>
    </ng-container>

    <span *ngIf="data.attr.exported" class="badge text-bg-success dxc-meta">exported</span>
    <span *ngIf="data.intentFilters.length>0" class="badge text-bg-warning dxc-meta">intentable</span>
    <!--
    <span *ngIf="data.modifiers.private" class="meta-access text-danger">private</span>
    <span *ngIf="data.modifiers.protected" class="meta-access text-primary">protected</span>
    -->


    <!--<i *ngIf="data.alias" class="text-warning">@alias: {{ data.alias }}</i>-->
    <!--<ng-container *ngFor="let mod of data.modifiers">
      <span class="badge rounded-pill "></span>
    </ng-container>-->
  </div>

  <app-viewport-splitted [controller]="controller" [parent]="this.parent.parent" [flex]="true" [leftWidth]="50" [type]="'1:2'">
    <ng-container nav-left>
      <app-subnavbar [type]="'navbar'" [parent]="this">
        <ng-container main>
          <app-subnavbar-btn [icon]="gIcons['LIST']" [active]="true" (click)="showIntents()">&nbsp;Intent filters</app-subnavbar-btn>
          <!--<app-subnavbar-btn [disable]="true"  [icon]="gIcons['LIST']">&nbsp;Behavior analysis</app-subnavbar-btn>-->
          <!--<app-subnavbar-btn [disable]="true" [icon]="gIcons['LIST']">&nbsp;Security analysis</app-subnavbar-btn>-->
        </ng-container>
      </app-subnavbar>
    </ng-container>
    <ng-container body-left>

      <div class="container-fluid" [class.dxc-hidden]="(activeTopLeft==null) || (activeTopLeft!='if')">

        <app-expandable-list style="overflow: auto;">
          <ng-container *ngFor="let filt of getIntentFilters(); let offset=index">


              <span (contextmenu)="displayExtMenu($event,'if',filt)">
                <dxc-icon [model]="icons['INTENT_FILTER']"></dxc-icon>
                Intent_filter_{{ offset }}

                <ng-container  *ngIf="filt.data!=null && filt.data.length>0">

                  <span class="badge text-bg-danger dxc-meta ml-1">waiting data</span>
                  <br>

                      <ng-container *ngFor="let dat of filt.data">

                       <div class="row no-gutters ml-5">
                          <div class="col-lg-10 text-left">
                            <dxc-intent-criteria-data [_f]="dat" [inputMode]="true" (enter)="sendIntent(data, filt, dat, $event)"></dxc-intent-criteria-data>
                          </div>

                          <div class="col-lg-2 text-right">
                            <span class="badge rounded-pill  text-bg-success" (click)="sendIntent(data, filt, dat)"><dxc-icon [model]="gIcons['PLAY']" [color1]="'dxc-text-clear100'"></dxc-icon>&nbsp;Send</span>
                          </div>
                        </div>
                      </ng-container>
                </ng-container>


                <div class="row no-gutters ml-5 border-1 border-white">
                  <div class="col-lg-6 text-left">
                   <b>Actions</b><br>
                    <ng-container *ngFor="let act of filt.action">
                      <span class="badge dxc-meta">{{ act.name }}</span><br/>
                    </ng-container>
                  </div>
                  <div class="col-lg-6 text-left">
                    <b>Categories</b><br>
                    <ng-container *ngFor="let cat of filt.category">
                      <span class="badge dxc-meta">{{ cat.name }}</span><br>
                    </ng-container>
                  </div>
                </div>
                <br>
              </span>
          </ng-container>
        </app-expandable-list>

      </div>

      <div class="container-fluid" [class.dxc-hidden]="(activeTopLeft==null) || (activeTopLeft!='sa')">

      </div>
    </ng-container>



    <ng-container nav-right>
      <app-subnavbar [type]="'navbar'"  [parent]="this">
        <ng-container main>
          <app-subnavbar-btn [icon]="cIcons['CLASS']" [active]="activeTopRight == 'cmp'" (click)="showImplementation('cmp')">Implementation</app-subnavbar-btn>
          <app-subnavbar-btn [icon]="gIcons['ANDROID']" [active]="activeTopRight == 'xr'" (click)="selectRightTab('xr')">Android API xref</app-subnavbar-btn>
        </ng-container>
      </app-subnavbar>
    </ng-container>
    <ng-container body-right>




      <div class="container-fluid" [class.dxc-hidden]="(activeTopRight==null) || (activeTopRight!='xr')">
        <ng-container *ngIf="data.internal!=null && data.internal.length>0; else noInternal">
          <app-expandable-list style="overflow: auto;">
            <ng-container *ngFor="let cat of data.internals">

              <ng-template #expItem let-itemObj="item" >

              <span *ngIf="itemObj._t=='c'" (contextmenu)="displayExtMenu($event,'clzz',itemObj)">
                <dxc-icon [model]="cIcons['CLASS']"></dxc-icon>
                {{ itemObj.name  }}
              </span>
                <span *ngIf="itemObj._t=='m'" (contextmenu)="displayExtMenu($event,'meth',itemObj)">
                <dxc-icon [model]="cIcons['METH']"></dxc-icon>
                  <!--<dxc-icon [model]="itemObj._icon"></dxc-icon>-->
                  {{ itemObj.__callSignature__  }}
              </span>
                <span *ngIf="itemObj._t==null" (contextmenu)="displayExtMenu($event,'meth',itemObj)">
                <dxc-icon [model]="cIcons['XREF_TO']"></dxc-icon>
                  {{ itemObj.__signature__  }}
              </span>
              </ng-template>

              <app-expandable-item
                [itemTpl]="expItem"
                [item]="cat"
                [provider]="this"
                [itemType]="cat._t"
                [expandableFn]="isExpandable"
              >

              </app-expandable-item>
            </ng-container>
          </app-expandable-list>
        </ng-container>
        <ng-template #noInternal>
          <div class="text-center dxc-text-clear100 pt-4 row">
            <div class="col-4">
              <dxc-icon [model]="gIcons['WARNING']"></dxc-icon>
            </div>
            <div class="col-8 text-center">
              Deep Cross-references to Android API not found<br>The class implementing this service is probably missing
            </div>

          </div>
        </ng-template>
      </div>

      <div class="container-fluid" [class.dxc-hidden]="(activeTopRight==null) || (activeTopRight!='cmp')">
        <span *ngIf="data.impl" (contextmenu)="displayExtMenu($event,'clzz',data.impl)">
                <dxc-icon [model]="cIcons['CLASS']"></dxc-icon>
          {{ data.impl.name  }}
              </span>
        <app-expandable-list *ngIf="data.impl" style="overflow: auto;">

          <ng-container *ngFor="let cat of data.impl.fields">

            <ng-template #impFieldItem let-itemObj="item" >
              <span (contextmenu)="displayExtMenu($event,'field',itemObj)">
                <dxc-icon [model]="cIcons['FIELD']"></dxc-icon>
                <!--<dxc-icon [model]="itemObj._icon"></dxc-icon>-->
                {{ itemObj.name  }}
                <span *ngIf="itemObj.type" class="text-warning">
                  <i *ngIf="!itemObj.type.primitive" >:&nbsp;{{ itemObj.type.name }}</i>
                  <i *ngIf="itemObj.type.arr">[]</i>
                </span>
              </span>
            </ng-template>

            <app-expandable-item
              [itemTpl]="impFieldItem"
              [item]="cat"
              [provider]="this"
              [itemType]="cat._t"
              [expandableFn]="isExpandable"
            >

            </app-expandable-item>
          </ng-container>

          <ng-container *ngFor="let cat of data.impl.methods">

            <ng-template #impMethItem let-itemObj="item" >
              <span (contextmenu)="displayExtMenu($event,'meth',itemObj)">
                <dxc-icon [model]="cIcons['METH']"></dxc-icon>
                <!--<dxc-icon [model]="itemObj._icon"></dxc-icon>-->
                {{ itemObj.__callSignature__  }}
              </span>
            </ng-template>

            <app-expandable-item
              [itemTpl]="impMethItem"
              [item]="cat"
              [provider]="this"
              [itemType]="cat._t"
              [expandableFn]="isExpandable"
            >

            </app-expandable-item>
          </ng-container>
        </app-expandable-list>
      </div>



    </ng-container>

  </app-viewport-splitted>
</div>

