<div class="container-fluid fill-height p-0">
    <h5 *ngIf="title">{{ title }}</h5>

    <div *ngIf="description!=null">
        <p>{{ description }}</p>
    </div>

    <ng-container *ngIf="data!=null && data.length>0; else noData">
        <app-expandable-list style="overflow: auto;">
            <ng-container *ngFor="let cat of data">

                <ng-template #expItem let-itemObj="item" >

                    <ng-container [ngSwitch]="itemObj.__">
                        <ng-container *ngSwitchCase="NODE_TYPES.CLASS">
                          <span (contextmenu)="displayExtMenu($event,'clazz',itemObj)">
                            <dxc-icon [model]="cIcons['CLASS']"></dxc-icon>
                              {{ itemObj.uid  }}
                          </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="NODE_TYPES.METHOD">
                          <span (contextmenu)="displayExtMenu($event,'meth',itemObj)">
                                            <dxc-icon [model]="cIcons['METH']"></dxc-icon>
                              <!--<dxc-icon [model]="itemObj._icon"></dxc-icon>-->
                              {{ itemObj.short  }}
                          </span>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          <span (contextmenu)="displayExtMenu($event,'meth',itemObj)">
                            <dxc-icon [model]="cIcons['XREF_TO']"></dxc-icon>
                              <i *ngIf="itemObj.loc">[&nbsp;{{ itemObj.loc[0].bb  }}&nbsp;:&nbsp;{{ itemObj.loc[0].instr  }}&nbsp;]&nbsp;</i>{{ itemObj.parent  }}
                          </span>
                        </ng-container>
                    </ng-container>
                </ng-template>

                <app-expandable-item
                        [itemTpl]="expItem"
                        [item]="cat"
                        [provider]="this"
                        [itemType]="cat.__"
                        [expandableFn]="isExpandable"
                        (itemFocus)="onItemFocus($event)"
                >

                </app-expandable-item>
            </ng-container>
        </app-expandable-list>
    </ng-container>
    <ng-template #noData>
        <div class="dxc-text-clear100 pt-4 row">
            <div class="text-right col-2 pt-2">
                <dxc-icon [model]="gIcons['WARNING']"></dxc-icon>
            </div>
            <div class="col-8 text-left">
                Deep Cross-references to {{projectionAreaName}} not found<br>The class implementing this activity is probably missing
            </div>
        </div>
    </ng-template>
</div>
