/* You can add global styles to this file, and also import other style files */
@use "app/base/modal-base/modal-base.component";

/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap';
@import "themes.scss";
@import 'fonts';

/* "select-able text" */
.selt {
  user-select: text;
}

/* scroll bar styling */
div::-webkit-scrollbar, ul::-webkit-scrollbar {
  width: 11px;
}
div, ul {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
div::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

div::-webkit-scrollbar-corner, ul::-webkit-scrollbar-corner {
  background: var(--scrollbarBG);
}

/* Drop down menu styles*/


/* Contextual menu styles */

.dxc-ctx-menu-btn {
  background:none;
}

.dxc-ctx-menu {

}


#appHeaderCtn {
  position: absolute;
  top:0px;
}

#appMiddleCtn {
  position: absolute;
}


#appBottomCtn {
  position: absolute;
  bottom:0px;
}

.dxc-text-darker {
  color: var(--panel-bg);
  fa-primary-color: var(--panel-bg);
  fa-secondary-color: var(--panel-bg);
}

h4.dxc-sub {
  font-size: 12px;
  font-weight: 800;
}

.dxc-trail-icon {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  color: red;
  background-color: #1fa2f1;
}


.dxc-trailneg-icon {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  color: pink;
  background-color: purple;
}

.trail-arrow-neg {
  margin-right:15px;
}

.dxc-twrap {
  word-break: break-all;
}

.dxc-text-100 {
  color: var(--text-100);
}

.dxc-text-75 {
  color: var(--text-75);
}

.dxc-text-50 {
  color: var(--text-50);
}


.dxc-text-yellow {
  color: var(--yellow);
}

.dxc-text-blue {
  color: #5eb9ff;
}

.dxc-text-white {
  color: #fff;
}

.dxc-text-black {
  color: #000;
}

.dxc-text-clear100 {
  color: var(--text-100);
}

.dxc-text-clear75 {
  color: var(--text-75); /* #b5b5b5;*/
}

.dxc-text-clear50 {
  color: var(--text-50); /*#828282;*/
}


/* MESSAGES */

.dxc-error-icon {
  color: var(--error-main-color);
}

.dxc-warning-icon {
  color: var(--warning-main-color);
}

.dxc-success-icon {
  color: var(--success-main-color);
}

.dxc-error-msg {
  background-color: var(--error-main-color);
  color: var(--error-secondary-color);
}

.dxc-warning-msg {
  background-color: var(--warning-main-color);
  color: var(--warning-secondary-color);
}

.dxc-success-msf {
  background-color: var(--success-main-color);
  color: var(--success-secondary-color);
}


/* icons */

.dxc-icon-ff {
  width:20px;
  height:20px;
}

.dxc-icon-android {
  color: #48db48;
}


.dxc-icon-color {
  color: var(--text-75);
}

.dxc-icon-window {
  color: #54a3dc;
  --fa-primary-color: var(--text-75);
  --fa-primary-opacity: 1.0;
  --fa-secondary-color: #54a3dc;
  --fa-secondary-opacity: 1.0;
}

.dxc-icon-folders {
  color: #b69e53;
  --fa-primary-color: #ffca29;
  --fa-primary-opacity: 1.0;
  --fa-secondary-color: #ffca29;
  --fa-secondary-opacity: 0.8;
}

.dxc-icon-darkblue {
  color: #091040;
  --fa-primary-color: #0b286d;
  --fa-primary-opacity: 1.0;
  --fa-secondary-color: #0b286d;
  --fa-secondary-opacity: 0.8;
}

dxc-icon-darkpink {

  color: #6a1b69;
  --fa-primary-color: #ac3ec4;
  --fa-primary-opacity: 1.0;
  --fa-secondary-color: #ac3ec4;
  --fa-secondary-opacity: 0.8;

}

.dxc-icon-folders-mixed {
  color: #9468d2;
  --fa-primary-color: #9468d2;
  --fa-primary-opacity: 1.0;
  --fa-secondary-color: #9468d2;
  --fa-secondary-opacity: 0.8;
}


.dxc-icon-folders-internal {
  color: #48db48;
  --fa-primary-color: #48db48;
  --fa-primary-opacity: 1.0;
  --fa-secondary-color: #48db48;
  --fa-secondary-opacity: 0.8;
}

.dxc-icon-folders-vendor{
  color: #0b7389;
  --fa-primary-color: #0d91ad;
  --fa-primary-opacity: 1.0;
  --fa-secondary-color: #0d91ad;
  --fa-secondary-opacity: 0.8;
}

fa-icon.dxc-icon-android {
  --fa-secondary-color: #48db48;
}

span.dxc-icon-window {
  --fa-secondary-color: #0d91ad;
}

.dxc-menu-background {
  background-color: var(--nav-tabbg);
}

.dxc-view-background {
  background-color: var(--panel-bg); /* #333;*/
}

.dxc-explorer-vpnav,
.row > .dxc-explorer-vpnav {
  font-family: var(--nav-font);
  height: var(--nav-height);
  background-color: var(--nav-bg);
  margin:0px;

  div.nav-menu {

    .dropdown-toggle {
      margin:0px;
      padding:0px;
      padding-left:0.8em;
      color: var(--nav-tabtext);
      font-size:1em;
    }

    .btn:focus {
      border:none;
      box-shadow: none;
    }

    .dropdown-menu {
      border:none;
      border-radius: 0px;
      background-color: var(--menu-bg);
      box-shadow: 2px 2px 5px #333;
    }

    .dropdown-item {
      margin:0px;
      padding:0px;
      padding-left:0.8em;
      color: var(--menu-text);
      font-size:0.9em;
    }

    .dropdown-item:hover {
      color: var(--menu-text-hover);
      background-color: var(--menu-bg-hover);
    }
  }

  div.nav-title {
    margin:0px;
    padding:0px;
    padding-top:0.1em;
    padding-left:0.8em;
    color: #bbb;
    font-size:1em;
  }

  div.nav-options {
    margin:0px;
    padding:0px;
    padding-top:0.1em;
    color: #bbb;
    font-size:1em;
    text-align: right;

    button.btn-option {
      background-color: #555;
      color: #bbb;
      width: 1.2rem;
      font-size: 0.8rem;
      text-align:center;
      margin:0;
      padding:0;
      border: none;
      border-radius: 4px;
      margin-right:0.2rem;
    }

    button.btn-option:hover {
      background-color: #777;
    }
  }
}

.explorer-list {

  margin: 0 0 0 0;
  padding-left: 0;
  max-height:100%;
  height:100%;

  overflow: auto;

  li {
    padding-left: 20px;
    list-style: none;
    user-select: none;

    fa-icon {
      margin:0;
      margin-right:0.5em;
    }

    fa-icon.caret {
      --fa-secondary-color: #999;
      --fa-primary-color: #bbb;
    }
  }

  li:focus {
    background-color: royalblue;
    color: white;
  }


  li.exp-separator {

    color: white;
    padding-left:10px;

    &.red {
      background-color: rgba(255, 52, 68, 0.11);
    }

    &.yellow {
      background-color: #4C4837;
    }

    &.blue {
      background-color: #212142;
    }
  }
}


.dxc-tooltip-vp {
  font-size: 12px;
  white-space: nowrap;

  .arrow {
    opacity: 0;
  }

  .tooltip-inner {
    background-color: #429459;
    border-radius: 0px;
    text-align:left;
    opacity: 1;
    max-width:1000px;
    min-width:100px;
  }
}

.dxc-tooltip {
  font-size: 12px;
  white-space: nowrap;

  .arrow {
    opacity: 0;
  }

  .tooltip-inner {
    background-color: #606060;
    border-radius: 0px;
    border: 1px solid #333;
    box-shadow: 0px 10px 30px #333;
    color: #ccc;
    text-align:left;
    opacity: 1;
    max-width:1000px;
    min-width:100px;
  }
}

.dxc-subnavbar {
  height: var(--nav-height);
  max-height: var(--nav-height);
  background-color: var(--subnav-bg);
  margin:0px;
  font-size: var(--nav-font-size);
  padding:0px;
  user-select: none;




  /* navtab */
  ul.nav-tabs {
    border:none ;
    background-color: var(--subnav-bg);
    white-space: nowrap;
    height: var(--nav-height);

    li.nav-item {
      border:none ;
      border-bottom:3px solid var(--subnav-bg);
      background-color: var(--nav-tabbg);
      color: var(--nav-tabtext);
      height: var(--nav-height);


      a.nav-link {
        border:none ;
        border-radius: 0px;
        padding: 0.2em 1em;
        color:#bbb  ;
        user-select: none;
      }

      &:hover {
        background-color:#333;
        border-bottom: 3px solid #333;
        color:white;
      }

      &.active {
        border-bottom:3px solid cornflowerblue;
        &:hover {
          border-bottom:3px solid cornflowerblue;
        }

      }
    }

    li.nav-label {
      vertical-align: center;
      background-color: var(--subnav-bg);

      &:hover {
        border:none;
        background-color: var(--subnav-bg);
      }
    }

    li.nav-item {
      a.nav-link {
        border:none ;
        border-radius: 0px;
        padding: 0.2em 1em;
        color:#bbb  ;
        user-select: none;
      }

      &.active {
        a.nav-link {
          border:none ;
          background-color:#666;
        }
      }
    }
  }


  a.nav-link {
    color:#bbb;
  }



  .btn-close {
    color: #828282;
  }

  .btn-close:hover {
    background-color: #999;
    color: #555;
    border-radius:10px;
  }

  /* navbar */
  .dxc-navbar {
    height: var(--nav-height);
    background-color: var(--nav-bg);
    margin:0px;
    font-size: var(--nav-font-size);


    div.nav {
      background-color: var(--subnav-bg);
      height: var(--nav-height);
      padding-left: 10px;
    }

    div.nav-menu {

      .dropdown-toggle {
        margin:0px;
        padding:0px;
        padding-left:0.8em;
        color: var(--nav-tabtext);
        font-size:1em;
      }

      .btn:focus {
        border:none;
        box-shadow: none;
      }

      .dropdown-menu {
        border:none;
        border-radius: 0px;
        background-color: var(--menu-bg);
        box-shadow: 2px 2px 5px #333;
      }

      .dropdown-item {
        margin:0px;
        padding:0px;
        padding-left:0.8em;
        color: var(--menu-text);
        font-size:0.9em;
      }

      .dropdown-item:hover {
        color: var(--menu-text-hover);
        background-color: var(--menu-bg-hover);
      }
    }

    div.nav-title {
      margin:0px;
      padding:0px;
      /*
      padding-top:0.1em;*/
      padding-left: 11px;/* 0.8em */
      color: #bbb;
      font-size: var(--nav-font-size); /* 1 em */
    }



    button.btn {
      background-color: var(--nav-btn-bg);
      color: var(--nav-btn-color); /* #bbb;*/
      /* width: 1.2rem; */
      font-size: 0.8rem;
      text-align:center;
      margin:0;
      padding:0;
      border: none;
      border-radius: 0px;
      margin-right: 12px; /* 0.2rem; */
      border-bottom: 2px solid var(--nav-btn-bg);
      height: var(--nav-height);

      .dxc-icon {
        margin-right:8px;
      }
    }



    button.btn:hover {
      background-color: var(--nav-btn-hover-bg);
      color: var(--nav-btn-hover-color);
      border-bottom: 2px solid var(--nav-btn-hover-color);
    }



    .dxc-dropdown {
      background: var(--nav-btn-bg);
      color: var(--nav-btn-color);
      border: none;
      border-radius: 0px;

      button.btn {
        display:block;
        text-align: left;
        padding-left:1em;
        width:100%;

        &:hover {
          background-color:  var(--panel-bg);
          border-color: transparent;
        }
      }
    }



    button.btn.active {
      background-color: var(--nav-btn-hover-bg);
      color: var(--warning-main-color );
      border-bottom: 2px solid var(--warning-main-color);
    }

    div.nav-options {
      margin:0px;
      padding:0px;
      padding-top:0.1em;
      color: #bbb;
      font-size:1em;
      text-align: right;

      button.btn-option {
        background-color: #555;
        color: #bbb;
        width: 1.2rem;
        font-size: 0.8rem;
        text-align:center;
        margin:0;
        padding:0;
        border: none;
        border-radius: 4px;
        margin-right:0.2rem;
      }

      button.btn-option:hover {
        background-color: #777;
      }
    }


     &.dxc-search-nav {
      background-color:  var(--panel-bg);

      div.nav, div-nav-options, .dxc-dropdown{
        background-color:  var(--panel-bg);
      }

      button.btn {
       background-color:  var(--panel-bg);
       border-color: transparent;
      }
    }
  }
}



.dxc-hidden {
  display: none;
}

.browsable:hover {
  text-decoration: underline;
}

.icon-sm {
  font-size:10px;
}

.dxc-empty {
  visibility: hidden;
}


.dxc-subnavbar-btn dxc-icon fa-icon {
  margin-right: 10px;
}

.dxc-ilink:hover {
  text-decoration: underline;
  cursor: pointer;
}


.dxc-breadcrumbs {
  display:block;
  margin:0px;
  padding:0px;
  font-size:14px;

  .dxc-static {
    display:inline-block;
    padding: 2px 0px 2px 2px;

    div {
      display: inline;
      margin:0px;

    }

    div.dxc-item-label {
      background-color: var(--menu-bg-hover);
      color: var(--menu-text-hover);
      padding:2px 10px;
    }

    div.dxc-item-arrow {
      background-color: var(--nav-bg);
      color: var(--menu-bg-hover);
      padding:2px 2px 2px 0px;
      font-size:14px;
    }
  }

  .dxc-item {
    display:inline-block;
    padding: 2px 0px 2px 0px;

    div {
      display: inline;
    }

    div.dxc-item-label {
      background-color: var(--nav-bg);
      color: var(--nav-text);
      padding:2px 10px;
    }

    div.dxc-item-arrow {
      background-color: transparent;
      color: var(--nav-bg);
      padding:2px 2px 2px 0px;
      font-size:14px;
    }

  }
}

.btn-inline {
  padding: 0;
  font-family: var(--nav-font);
}

.btn-inline:hover {
  background-color: var(---nav-btn-hover-bg);
}

/* --------------- */


.dxc-icon-field {
  font-weight: 800;
  color: var(--warning);
  width:15px;
  text-align:right;
}

.dxc-icon-meth {
  font-weight: 800;
  color: #F00;
  width:15px;
  text-align:right;
}

.dxc-icon-static {
  font-weight: 800;
  color: #32babb;
  width:15px;
  text-align:right;
}

.dxc-icon-staticb {
  font-weight: 800;
  color: #fff;
  width:15px;
  text-align:right;
}


.dxc-icon-unknown {
  font-weight: 800;
  color: var(--warning);
  width:15px;
  text-align:right;
}

.dxc-icon-native {
  color: var(--pink);
  width:15px;
  text-align:right;
}

.dxc-icon-const {
  font-weight: 800;
  color: dodgerblue;
  width:15px;
  text-align:right;
}

.dxc-icon-class {
  color: #17a2b8;
  width:15px;
  text-align:right;
}

.dxc-icon-yr {
  color: #ff8c00;
  fa-secondary-color: #ff8c00;
  fa-primary-color: #ffaa00;
}

.dxc-icon-dyellow {
  font-weight: 800;
  color: var(--warning);
  fa-secondary-color: #826838;
  fa-primary-color: var(--warning);
  width:15px;
  text-align:right;
}

span.badge.dxc-meta {
  border-radius:0px;
  margin:0px;
  font-size: 11px;
}

input.dxc-meta {
  border-radius:0px;
  margin:0px;
}

.viewport-out {
  margin:0px;
  padding:0px;
}

div.dxc-grid-header {
  @extend .view-outer;

  background-color: #4e555b;
  color: #ccc;

  min-width:100%;
  width:100%;
  border-bottom: 1px solid #bbbbbb;

  div.col-lg-2,
  div.col-lg-6,
  div.col-lg-8  {
    padding-left:10px;
  }
}

div.dxc-grid-body {
  @extend .view-outer;

  background-color: #333333;
  color: #ccc;
  min-width:100%;
  width:100%;
  border-bottom: 1px solid #bbbbbb;

  /*
  &:hover,*/
  &.active {
    background-color: #0d6aad;
  }

  div.col-lg-2,
  div.col-lg-6,
  div.col-lg-8 {
    padding-left:10px;
  }
}


div.row.dxc-disass-row {

  &:hover {
    background-color: #444;
  }
}

div.row.dxc-disass-ins-hooked {
    padding:0px;
    background-color: #4c6651;

    span.dxc-meta {
      margin-bottom:3px;
    }
}


.view-outer{
  margin:0px;
  padding:0px;
}

.nav-menu {
  user-select: none;
}

span.badge.dxc-btn-hook {
  &.badge-success:hover {
    border-color: greenyellow;
  }
  &.badge-danger:hover {
    border-color: darkred;
  }
}


div.box {
  border-radius: 0px;
  color: var(--text-75);
  border-color: var(--text-100);
  background-color: var(--input-bg);
}


div.dxc-list {
  div.row {
    padding: 0px 0px;
    border-color: var(--text-100);

    & > div.col-1, & > div.col-2, & > div.col-3,
    & > div.col-4, & > div.col-5, & > div.col-6,
    & > div.col-7, & > div.col-8, & > div.col-9,
    & > div.col-10, & > div.col-11, & > div.col-12 {
      padding:5px 0px 5px 10px;
    }

    &:hover {
      background-color: var(--nav-btn-hover-bg);
    }
  }
}


.dxc-gutters {
  margin: 0px 10px;
}


.dxc-no-gutters {
  margin: 0px;
}

.row > .dxc-no-gutters {
  margin: 0px;
}

.dxc-preview {

  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.dxc-preview-exp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-x: scroll;
}

.dxc-preview-exp::-webkit-scrollbar {
  display:none;
}

.dxc-nowrap {
  white-space: nowrap;
}
.dxc-noselect {
  user-select: none;
}

.dxc-purple {
  background-color: purple;
  color:white;
}

.dxc-orange {
  background-color: #d08d1c;
  color:white;
}

.dxc-green-pale {
  background-color: #a6c277;
  color:white;
}

.dxc-green-fluo {
  color: black;
  background-color: #24C600;
}

.dxc-pink {
  background-color: #ff0cff;
  color:white;
}

.dxc-azur {
  background-color: #00e2ff;
  color: #000000;
}

.dxc-salmon {
  background-color: #e88a63;
  color: #000000;
}

.dxc-herb {
  background-color: #a6c277;
  color: #000000;
}

.dxc-yellow {
  background-color: #facd13;
  color:black;
}

.dxc-table {
  th, td {
    padding: 5px 0 5px 10px;
  }
}

.dxc-sz-6 {
  font-size: 0.9em;
}

.dxc-code {
  font-family: "Courier New";
  font-size: 1em;
  font-weight: 800;
}

.actionable {
  &:hover {
    text-decoration: underline;
    color: var(--warning);
    cursor: pointer;
  }
}

.dxc-row-header {
  background-color: var(--nav-btn-bg);
  color: var(--text-75);
  font-family: var(--nav-font);
}

.dxc-row-body {
   background-color: var(--input-bg);
  color: var(--text-100);
}

div.dxc-row-table {

  border-color:var(--text-50);

  div {
    padding:5px;
  }
}

.dxc-text-std {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
