<app-modal-base [name]="'passwd_auth'"  [preventEscClose]="true"   [closable]="false" [width]="300" [height]="200" [mainController]="mainController">
  <div head class="dxc-modal-header">
    Authentication
  </div>
  <ng-container options>
    <span><dxc-icon [model]="gIcons.HELPER" (click)="showHelp()"></dxc-icon></span>
  </ng-container>
  <div body class="dxc-modal-body pt-1">
      <div class="row no-gutters" *ngIf="firstLogin">
        <div class="col-lg-12 text-center dxc-text-clear100"><i>Please login to continue</i></div>
      </div>
    <div class="row no-gutters pt-1 pl-1">
      <div class="col-lg-2  pr-2 text-right dxc-text-clear75">
        <dxc-icon [model]="icons.SERVER"></dxc-icon>
      </div>
      <div class="col-lg-10  dxc-text-clear100 ">
        <select name="server" [(ngModel)]="server" placeholder="Select a server" class="dxc-input" style="width:200px">
          <optgroup label="Prefered servers">
            <option *ngFor="let c of conns; trackBy: connIdentify" [value]="c.name">{{ c.name }}</option>
          </optgroup>
          <optgroup label="Options">
            <option value="new">Add a remote server</option>
          </optgroup>
        </select>
      </div>
    </div>
    <ng-container *ngIf="isAuthenticated(server)==false; then newAuth  else alreadyAuth"></ng-container>
    <ng-template #newAuth>
      <div class="row no-gutters pt-1 pl-1">
        <div class="col-lg-2 pr-2  text-right dxc-text-clear75">
          <dxc-icon [model]="icons.USER"></dxc-icon>
        </div>
        <div class="col-lg-10  dxc-text-clear100 ">
          <input type="text" class="pl-1" name="username" id="username" placeholder=" username"[(ngModel)]="username" style="width:200px"/>
        </div>
      </div>
      <div class="row no-gutters pt-1 pl-1">
        <div class="col-lg-2 pr-2 text-right dxc-text-clear75">
          <dxc-icon [model]="icons.KEY"></dxc-icon>
        </div>
        <div class="col-lg-10 dxc-text-clear100 ">
          <input type="password" class="pl-1" name="passwd" id="passwd" placeholder=" password" [(ngModel)]="passwd" style="width:200px"/>
        </div>
      </div>
    </ng-template>
    <ng-template #alreadyAuth>
      <div class="row no-gutters pt-2">
        <div class="col-lg-12 text-center  dxc-text-clear100 ">
          You are already logged into this server.
        </div>
      </div>
    </ng-template>
    </div>
    <div footer>
        <button class="dxc-frm-btn" (click)="warnOnClose()">Cancel</button>
        <button class="dxc-frm-btn default" (click)="doPasswordLogin()">
          <dxc-icon [model]="icons.UNLOCK"></dxc-icon>&nbsp;Login
        </button>
    </div>
</app-modal-base>

