.explorer-audit {
  margin:0px;
  padding:0px;
}

.explorer-audit-nav {
   background: #555;
   margin:0;
   padding:0px;
   border: none;
   border-bottom: 1px solid #333;
   font-size:0.9em;
}


.explorer-audit-dd button.dropdown-toggle {

}

.explorer-audit-dd,
.explorer-audit-dd div.dropdown,
.explorer-audit-dd button.dropdown-toggle,
.explorer-audit-dd div.dropdown-item {
  background-color: #555;
  color: white;
  font-size:1em;
  margin:0;
}


.explorer-audit-dd button.dropdown-toggle {

}

.explorer-audit-dd div.dropdown-menu {
  margin-left:0;
  background-color: #555;
  color: white;
}

.explorer-audit-nav div.nav {
  height: 2em;
}





.hidden {
  display: none;
}

.explorer-list-root {
  height:80%;
  overflow-y: auto;;
}

.model-btn-grad {
  border: 0px;
  background-color: var(--menu-bg);
  border-radius: 5px;
  margin: 5px 10px;
  padding: 1em;

  span {
    font-weight: bold;
    color: var(--text-75);
  }

  .matched {
    border-bottom: 2px solid green;
  }

  .notfound {
    border-bottom: 2px solid orange;
  }

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #06beb6 0%, #48b1bf 51%, #06beb6 100%);
    transition: 0.5s;
    /*background-size: 200% auto;*/
    color: #000;

    span {
      color: #000;
    }

    p {
      color: #fff;
    }
  }


  &.focus {
    background-image: linear-gradient(to right, #06beb6 0%, #48b1bf 51%, #06beb6 100%);
    transition: 0.5s;
    color: #000;
    opacity: 0.6;
    span {
      color: #000;
    }
    p {
      color: #fff;
    }
  }
}

/*
.model-btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}*/

